{{#if isCast}}
  <div id="cast-{{number}}" class="cast-box">
    {{#if image}}
      <p class="cast-thumb">
        <img :::protect:::src="img/{{image}}" alt="{{role}}{{#if cast}}………{{/if}}{{cast}}">
      </p>
    {{/if}}
    <div class="cast-txt">
      <p class="cast-name">{{role}}<span class="cast-name-kana">{{#if roman}}（{{/if}}{{roman}}{{#if roman}}）{{/if}}</span><span class="cast-age">{{#if age}}（{{age}}）{{/if}}</span>{{#if cast}}………{{/if}}{{cast}}</p>
      <p>{{{text}}}</p>
    </div>
  </div>
  {{#if dot}}
    <div class="cast-dot">・</div>
  {{/if}}
{{/if}}
