---
import { directory, imageProtection } from "@settings";
---

<div class="card__vod">
  <a aria-label="TELASAへ" class="card__vod__image opac" href="https://www.telasa.jp/unlimited" class="" target="_blank">
    <img class:list={[imageProtection && 'protect']} src=`/${directory}/vod/img/telasa_thumbnail.jpg` alt="" class="video__thumb">
    <img src=`/${directory}/common-img/play.png` alt="" class="play__icon">
  </a>
  <div class="card__vod__container">
    <div class="card__vod__image__and__text">
      <img src=`/${directory}/vod/common-img/special-vod-telasa.png` alt="" class="card__vod__logo__telasa">
      でスピンオフ
    </div>
    <strong>「〇〇〇」を<span class="u-pink">独占</span>配信中！</strong>
    <div class="card__vod__caption">初回無料でお試し</div>
</div>
