---
import { directory, imageProtection } from "@settings";
---

<div class="card__vod">
  <a aria-label="TVerへ" class="card__vod__image opac" href="https://tver.jp/" class="" target="_blank">
    <img class:list={[imageProtection && 'protect']} src=`/${directory}/vod/img/tver_thumbnail.jpg` alt="" class="video__thumb">
    <img src=`/${directory}/common-img/play.png` alt="" class="play__icon">
  </a>
  <div class="card__vod__container">
    <div class="card__vod__image__and__text">
      <img src=`/${directory}/vod/common-img/special-vod-tver.png` alt="" class="card__vod__logo__tver">
      で第1話〜第4話を
    </div>
    <strong>期間限定で<span class="u-pink">無料</span>配信中！</strong>
    <div class="card__vod__caption">○月○日23:59まで</div>
</div>
