---
import { directory, imageProtection } from "@settings";
export const partial = true;
---

<div class="enhanced__vod__list">
  <a href="//tver.jp/" class="enhanced__vod__item item-tver opac">
    <div class="enhanced__vod__item__image__container">
      <div class="enhanced__vod__item__label">無料</div>
      <img src=`/${directory}/vod/img/tver_01.jpg` alt="" class:list={['enhanced__vod__item__image', imageProtection && 'protect']}>
    </div>
    <img src=`/${directory}/vod/common-img/vod-tver-logo.png` alt="TVer" class="enhanced__vod__item__icon">
    <div class="enhanced__vod__item__text">
      <p>
        第<span class="highlight strong">5</span>話配信は<br class="sp">
        <span class="highlight">12/31 20:59</span>まで
      </p>
      <p class="sub-read">第1～3話も配信中！</p>
    </div>
  </a>
  <a href="//www.telasa.jp/unlimited" class="enhanced__vod__item item-telasa opac">
    <div class="enhanced__vod__item__image__container">
      <img src=`/${directory}/vod/img/telasa_01.jpg` alt="" class:list={['enhanced__vod__item__image', imageProtection && 'protect']}>
    </div>
    <img src=`/${directory}/vod/common-img/vod-telasa-logo.png` alt="TELASA" class="enhanced__vod__item__icon">
    <div class="enhanced__vod__item__text">
      <p>全話一挙配信中！<br class="sp">初回無料でお試し</p>
    </div>
  </a>
</div>

