.navigation.nav__sub {
  --_link-color: #fff;
  --_link-bg: #0d3470;
  --_link-hover-color: var(--_body-color);
  --_link-hover-bg: var(--_link-color);
  --_badge-color: #fff;
  --_badge-bg: #f0027f;
  --_nav-border: 1px solid rgba(0 0 0 / .2);

  border-image-source: linear-gradient(var(--_link-bg) 0 0);
  border-image-slice: fill 0;
  border-image-outset: 0 100lvi;
  border-image-repeat: repeat;

  .navigation__list__container {
    display: flex;
    flex-wrap: wrap;
  }

  .navigation__item {
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: var(--_link-color);
    background-color: var(--_link-bg);
    transition: var(--_transition-hover);
  }

  .navigation__item__title {
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      content: '';
      display: inline-block;
      width: var(--_size);
      height: var(--_size);
      background-image: var(--_icon);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
}



.device-type-mobile .navigation.nav__sub {
  .navigation__list__container {
    --_space: calc(16vw / var(--_mbw));

    gap: var(--_space);
    padding: var(--_space);
  }
  .navigation__item {
    min-height: calc(30vw / var(--_mbw));
  }

  .navigation__item__title {
    font-size: calc(10vw / var(--_mbw));
    gap: calc(5vw / var(--_mbw));

    &::after {
      --_size: calc(12vw / var(--_mbw));
    }
  }
}


.device-type-desktop .navigation.nav__sub {
  padding: 1.5rem 0;

  .navigation__list__container {
    /* gap: .5rem; */
  }

  .navigation__item {
    padding: .5rem .75rem .5rem 1.25rem;
  }

  .navigation__item__title {
    font-size: .875rem;

    &::after {
      --_size: 1.25em;
    }
  }
}
