.floating {
  --_link-color: #155177;
  --_link-bg: #fff;
  --_link-active-color: #fff;
  --_link-active-bg: var(--_link-color);
  --_menu-color: #fff;
  --_menu-bg: #000;
  --_nav-border-color: #c5c5c5;
  --_badge-color: #fff;
  --_badge-bg: #f0027f;
  --_nav-border: 1px solid rgba(0 0 0 / .2);
  --_sublayer-main-color: #fff;
  --_sublayer-main-bg: rgba(0 0 0 / .9);
  --_sublayer-sub-color: #fff;
  --_sublayer-sub-bg: rgba(100 100 100 / .9);

  .nav__bar {
    height: var(--_floating-navbar-height);
    background-color:#fff;
    bottom: 0;
    z-index: 100;
    box-shadow: -4px -4px 13px rgba(0, 0, 0, 0.11);
    width: 100%;
    position: fixed;
    left: 0;
    transform: translateY(100%);
    transition: transform .45s cubic-bezier(.23, 1, .32, 1) 0ms allow-discrete;

    .fixed & {
      transform: translateY(0);
    }

    .navbar__list__container {
      display: grid;
      height: 100%;
      grid-template-columns: repeat(5, 1fr);
      gap: 1px;
      background-color: var(--_nav-border-color);
    }

    .navbar__item {
      --_font-size: calc(10vw / var(--_mbw));
      --_icon-size: calc(28vw / var(--_mbw));

      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: var(--_font-size);
      font-weight: 600;
      background: var(--_link-bg);
      text-decoration: none;
      caret-color: transparent;
      line-height: 1;
      margin-block: var(--_leading-trim);
      color: var(--_link-color);

      input {
        display: none;
      }

      > span {
        font-size: var(--_font-size);
        color: currentColor;
      }
    }

    .navbar__item.active:not(:has(~ label > #subcategory__vod:checked)) {
      color: var(--_btn-color);
      background-color: var(--_btn-bg);
    }

    label[for="subcategory__menu"] {
      color: var(--_menu-color);
      background-color: var(--_menu-bg);
      margin-left: -1px;
    }
  }
}





.navbar__item__icon {
  width: var(--_icon-size);
  height: var(--_icon-size);
  background-color: currentColor;
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
}

.subcategory__item.nav__main {
  --_bg-color: var(--_sublayer-main-bg);
  --_title-size: calc(16vw / var(--_mbw));
  --_subtitle-size: calc(10vw / var(--_mbw));
}

.subcategory__item.nav__sub {
  --_bg-color: var(--_sublayer-sub-bg);
  --_title-size: calc(12vw / var(--_mbw));
}

.subcategory__item.nav__main,
.subcategory__item.nav__sub {

  .navigation__list__container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    background-color: var(--_bg-color);
    overflow: hidden;
  }

  .navigation__item {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    padding-top: calc(16vw / var(--_mbw));
    padding-bottom: calc(16vw / var(--_mbw));
    color: #fff;

    &::before,
    &::after {
      content: '';
      position: absolute;
      background-color: var(--_nav-border-color);
      z-index: 1;
    }
    &::after {
      width: 100vw;
      height: 1px;
      left: 0;
      top: -1px;
    }
    &::before {
      width: 1px;
      height: 100vh;
      left: -1px;
      top: 0;
    }
  }

  .navigation__item__title {
    font-size: var(--_title-size);
    font-weight: 600;
  }

  .navigation__item__subtitle {
    font-size: var(--_subtitle-size);
  }
}


.subcategory__vod,
.subcategory__menu {
  z-index: 99;
  width: 100%;
  position: fixed;
  left: 0;
  transition:
    transform.45s cubic-bezier(.23, 1, .32, 1) 0ms allow-discrete,
    bottom .45s cubic-bezier(.23, 1, .32, 1) 0ms allow-discrete;
  transform: translateY(100%);
  bottom: 0;
}

.fixed:has(#subcategory__vod:checked) .subcategory__vod,
.fixed:has(#subcategory__menu:checked) .subcategory__menu {
  transform: translateY(0);
  bottom: var(--_floating-navbar-height);
}

.subcategory .navigation__item.active,
label[for="subcategory__vod"]:has(#subcategory__vod:checked) {
  color: var(--_btn-color);
  background-color: var(--_btn-bg);
}

label[for="subcategory__vod"]:has(#subcategory__vod:checked) {
  .navbar__item__icon {
    background-color: var(--_btn-color);
  }
}

label[for="subcategory__menu"]:has(#subcategory__menu:checked) {
  > span {
    font-size: 0;

    &::before {
      font-size: var(--_font-size);
      content: "閉じる";
    }
  }
}

.line {
  --_size: calc(20vw / var(--_mbw));
  --_line-height:calc(2vw / var(--_mbw));
  --_center-pos: calc(50% - (var(--_line-height) / 2));
  height: var(--_size);
  width: calc(var(--_size) * 1.3);
  margin: calc(4vw / var(--_mbw));
  position: relative;
  pointer-events: none;

  > span {
    position: absolute;
    left: 0;
    display: block;
    transition: rotate 0.4s;
    width: 100%;
    height: var(--_line-height);
    background: var(--_menu-color);
    transition: transform .45s cubic-bezier(.23, 1, .32, 1) 0ms;
  }

  > span:nth-of-type(1) {
    top: 0;
  }

  > span:nth-of-type(2) {
    top: var(--_center-pos);
  }

  > span:nth-of-type(3) {
    bottom: 0;
  }
}

#subcategory__menu:checked {
  & + .line > span:nth-of-type(1) {
    top: var(--_center-pos);
    transform: rotate(-45deg) translateY(-50%);
  }
  & + .line > span:nth-of-type(2) {
    opacity: 0;
  }
  & +.line > span:nth-of-type(3) {
    top: var(--_center-pos);
    transform: rotate(45deg);
  }
}
