.news__container {
  --_item-color: var(--_body-color);
  --_title-color: var(--_body-color);
  --_date-color: var(--_body-color);
  --_tag-color: #fff;
  --_tag-bg: #00a0c6;

  padding: var(--_container-space);

  .button__primary {
    .device-type-mobile &.center__pos.news__button {
      margin-top: calc((30vw / var(--_mbw)) - var(--_section-gap));
    }
  }

  .button__primary {
    .device-type-desktop &.center__pos.news__button {
      margin-top: calc(2.5rem - var(--_section-gap));
    }
  }
}

.news__item {
  font-kerning: normal;
  font-feature-settings: "palt";
  text-wrap: pretty;
  overflow-wrap: anywhere;
  word-break: normal;
}

.news__item__tag {
  color: var(--_tag-color);
  display: grid;
  align-items: center;
  line-height: 1;
  margin-block: var(--_leading-trim);
}

.device-type-mobile .news__items__default {
  display: grid;
  gap: calc(16vw / var(--_mbw));

  .news__item {
    color: var(--_item-color);
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 4;
    row-gap: calc(16vw / var(--_mbw));
    text-decoration: none;
    font-weight: 600;
    padding-bottom: calc(16vw / var(--_mbw));
  }

  .news__item__image {
    width: 100%;
    margin: auto;
  }

  .news__item__tag {
    color: var(--_tag-color);
    font-size: calc(12vw / var(--_mbw));
    background: var(--_tag-bg);
    padding: calc(8vw / var(--_mbw)) calc(8vw / var(--_mbw));
    margin: 0 calc(16vw / var(--_mbw));
  }

  .news__item__title {
    font-size: calc(14vw / var(--_mbw));
    margin: 0 calc(16vw / var(--_mbw));
  }

  .news__item__date {
    color: var(--_date-color);
    font-size: calc(12vw / var(--_mbw));
    margin: 0 calc(16vw / var(--_mbw)) 0 auto;
  }
}


.device-type-desktop .news__items__default {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem 1rem;

  .news__item {
    color: var(--_item-color);
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 4;
    row-gap: 1rem;
    text-decoration: none;
    font-weight: 600;
    padding-bottom: 1rem;
  }

  .news__item__image {
    width: 100%;
    margin: auto;
  }

  .news__item__tag {
    color: var(--_tag-color);
    font-size: .75rem;
    background: var(--_tag-bg);
    padding: .5rem 1rem;
    margin: 0 1rem;
  }

  .news__item__title {
    color: var(--_title-color);
    font-size: 1rem;
    margin: 0 1rem;
    line-height: 1.625rem;
  }

  .news__item__date {
    color: var(--_date-color);
    font-size: .875rem;
    margin: 0 1rem 0 auto;
  }
}

.device-type-mobile .news__items__split__screen {
  display: grid;
  gap: calc(16vw / var(--_mbw));

  .news__item {
    color: var(--_item-color);
    display: grid;
    grid-template-columns: 1.8fr 2.2fr;
    grid-row: span 3;
    text-decoration: none;
    font-weight: 600;
    background: var(--_content-bg);
  }

  .news__item__image {
    width: 100%;
    margin: 0 auto;
    grid-row: 1 / 4;
    max-height: calc(94vw / var(--_mbw));
    object-fit: contain;
  }

  .news__item__tag {
    color: var(--_tag-color);
    font-size: calc(10vw / var(--_mbw));
    background: var(--_tag-bg);
    width: fit-content;
    padding: calc(2vw / var(--_mbw)) calc(8vw / var(--_mbw));
    margin: 0 0 0 auto;
  }

  .news__item__title {
    color: var(--_title-color);
    font-size: calc(12vw / var(--_mbw));
    margin: 0 calc(8vw / var(--_mbw));

    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
  }

  .news__item__date {
    color: var(--_date-color);
    font-size: calc(10vw / var(--_mbw));
    margin: 0 calc(8vw / var(--_mbw)) 0 auto;
  }
}

.device-type-desktop .news__items__split__screen {
  display: grid;
  gap: 1rem;
  --_image-width: 16.875rem;

  .news__item {
    color: var(--_item-color);
    display: grid;
    row-gap: 1rem;
    grid-template-columns: var(--_image-width) auto;
    grid-template-rows: fit-content(5rem) 1fr auto;
    grid-row: span 3;
    text-decoration: none;
    font-weight: 600;
    background: var(--_content-bg);
    max-height: 9.5rem;
  }

  .news__item__image {
    object-fit: contain;
    height: 9.5rem;
    width: 100%;
    margin: 0 auto;
    grid-row: 1 / 4;
  }

  .news__item__tag {
    color: var(--_tag-color);
    font-size: .75rem;
    background: var(--_tag-bg);
    width: calc(100% - 2rem);
    padding: .5rem 1rem;
    margin: 1rem 0 0 1rem;
  }

  .news__item__title {
    color: var(--_title-color);
    font-size: 1rem;
    margin: 0 1rem;
  }

  .news__item__date {
    color: var(--_date-color);
    font-size: .875rem;
    margin: 0 1rem 1rem auto;
  }
}

.device-type-mobile .news__items__list {
  display: grid;
  padding: 0 calc(16vw / var(--_mbw));
  background: var(--_content-bg);

  .news__item {
    color: var(--_item-color);
    display: grid;
    grid-auto-flow: row;
    row-gap: calc(16vw / var(--_mbw));
    font-weight: 600;
    padding: calc(16vw / var(--_mbw)) 0;

    &:not(:first-child) {
      border-top: 1px solid rgba(0 0 0 / .2);
    }
  }

  .news__item__tag {
    color: var(--_tag-color);
    font-size: calc(12vw / var(--_mbw));
    background: var(--_tag-bg);
    border-radius: 100vh;
    width: fit-content;
    padding: calc(8vw / var(--_mbw)) calc(8vw / var(--_mbw));
  }

  .news__item__title {
    color: var(--_title-color);
    font-weight: 500;
    font-size: calc(14vw / var(--_mbw));
  }

  .news__item__date {
    color: var(--_date-color);
    font-size: calc(14vw / var(--_mbw));
  }
}

.device-type-desktop .news__items__list {
  display: grid;
  padding: .5rem 1.5rem;
  background: var(--_content-bg);

  .news__item {
    color: var(--_item-color);
    display: grid;
    grid-auto-flow: row;
    row-gap: 1rem;
    color: rgb(51 51 51);
    font-weight: 600;
    padding: 1rem 0;

    &:not(:first-child) {
      border-top: 1px solid rgba(0 0 0 / .2);
    }
  }

  .news__item__tag {
    color: var(--_tag-color);
    font-size: .75rem;
    background: var(--_tag-bg);
    border-radius: 100vh;
    width: fit-content;
    padding: .5rem 1rem;
  }

  .news__item__title {
    color: var(--_title-color);
    font-weight: 500;
    font-size: 1rem;
  }

  .news__item__date {
    color: var(--_date-color);
    font-size: .875rem;
  }
}
