.top__story__container {
  text-align: center;

/*
  .device-type-mobile & {
    gap: calc(15vw / var(--_mbw));
    padding: calc(16vw / var(--_mbw));
  }

  .device-type-desktop & {
    gap: 1.5rem;
    padding: 2.5rem;
  } */

  > iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
  }
  > img {
    width: 100%;
  }
}

.card__story__date {

  .device-type-mobile & {
    font-size: calc(14vw / var(--_mbw));
    font-weight: 700;
  }

  .device-type-desktop & {
    font-size: 1.125rem;
    font-weight: 400;
  }
}

.card__story__title {
  font-family: var(--_head-font-family);

  .device-type-mobile & {
    font-weight: 500;
    font-size: calc(25vw / var(--_mbw));
    text-align: center;
    margin-top: calc(-10vw / var(--_mbw));
  }

  .device-type-desktop & {
    font-weight: 400;
    font-size: 1.875rem;
  }
}

.card__story__summary {
  text-align: justify;

  .device-type-mobile & {
    font-size: calc(14vw / var(--_mbw));
    line-height: calc(26vw / var(--_mbw));
  }

  .device-type-desktop & {
    font-size: 1rem;
  }
}

