.story__items__container {
  > iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
  }
}


.story__items__container {
  h1 {
    font-family: var(--_head-font-family);
    font-weight: 700;
    display: grid;
    grid-auto-flow: row;

    &::before {
      content: attr(data-date);
      font-family: var(--_body-font-family);
      color: var(--_appendix-title-color);
      background-color: var(--_appendix-title-bg);
      display: block;
      width: fit-content;
    }
  }


  .h2-ttl-inner {
    font-weight: 600;
    color: var(--_appendix-title-color);
    background: var(--_appendix-title-bg);
    font-family: var(--_latin-font-family);
    font-style: italic;

    &::after {
      content: attr(data-label);
      font-family: var(--_head-font-family);
      font-weight: 500;
    }
  }

  .episode__summary {
    display: grid;
    grid-auto-rows: row;
    text-align: justify;
    font-kerning: normal;
    overflow-wrap: anywhere;
    font-feature-settings: "palt";
  }

  .popup-content {
    cursor: pointer;
    border-bottom: solid 1px currentColor;
    color: var(--_link-color);

    &:hover {
      border-bottom: none;
    }
  }

  .staff {
    background-color: rgba(221 221 221 / 0.3);
  }

}

.backnumber__items {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--_gap);
}

.backnumber__item {
  --_item-space: .375rem;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 2;
  text-decoration: none;
  row-gap: var(--_item-space);
  padding: var(--_item-space);
  background-color: var(--_appendix-title-bg);
  transition: var(--_transition-hover);

  &:hover {
    background-color: var(--_link-color);
  }

  > img {
    width: 100%;
  }

  > div {
    color: var(--_appendix-title-color);
    font-weight: 600;
    padding: .5rem 0;
    display: grid;
    place-content: center;
  }
}

.guest__container {
  .h3-ttl {
    border-bottom: 1px solid rgba(0 0 0 / .2);
    font-weight: bold;
    padding-bottom: .5rem;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
  }
}

.device-type-mobile {
  .story__items__container {
    h1 {
      /* white-space: pre-wrap; */
      line-break: normal;
      text-align: left;
      font-size: calc(28vw / var(--_mbw));
      gap: calc(10vw / var(--_mbw));

      &::before {
        font-size: calc(16vw / var(--_mbw));
        padding: calc(5vw / var(--_mbw)) calc(20vw / var(--_mbw));
      }
    }

    .episode__summary {
      font-size: calc(14vw / var(--_mbw));
      line-height: calc(26vw / var(--_mbw));
      gap: calc(20vw / var(--_mbw));
    }

    .button__primary,
    .event_button {
      font-size: calc(17vw / var(--_mbw));;
      width: 100%;
      margin: auto;
    }

    .staff {
      padding: calc(10vw / var(--_mbw)) calc(25vw / var(--_mbw));
      font-size: calc(14vw / var(--_mbw));
      line-height: 2rem;
    }

    .h2-ttl-inner {
      font-size: calc(30vw / var(--_mbw));
      padding: calc(15vw / var(--_mbw)) calc(20vw / var(--_mbw));

      &::after {
        display: block;
        font-size: calc(20vw / var(--_mbw));
      }
    }

    .backnumber__items {
      --_gap: calc(6vw / var(--_mbw));
    }

    .backnumber__item {
      --_item-space: calc(5vw / var(--_mbw));

      > div {
        font-size: calc(12vw / var(--_mbw));
        padding: calc(5vw / var(--_mbw));
      }
    }
  }
}


.device-type-desktop {
  .story__items__container {

    h1 {
      font-size: 1.875rem;
      gap: .625rem;

      &::before {
        font-size: 1rem;
        padding: 3px 1.5rem;
      }
    }

    .h2-ttl-inner {
      &::after {
        font-size: .75rem;
        margin-left: .5rem;
      }
    }

    .episode__summary {
      font-size: 1rem;
      line-height: 2rem;
      gap: 2rem;
    }

    .button__primary,
    .event_button {
      font-size: 1.25rem;
      width: fit-content;
      margin: auto;
    }

    .staff {
      padding: .625rem 1.5625rem;
      font-size: .875rem;
      line-height: 2rem;
    }

    .h2-ttl-inner {
      font-size: 1.875rem;
      padding: .625rem .9375rem;

      &::after {
        font-size: 1.25rem;
      }
    }

    .backnumber__items {
      --_gap: .625rem;
    }

    .backnumber__item {
      --_item-space: .375rem;

      > div {
        padding: .5rem 0;
      }
    }
  }
}
