.rebroadcast__container:has(.banner__items:empty) {
  display: none;
}

.rebroadcast__container {
  display: grid;
  grid-auto-columns: auto;

  .device-type-mobile & {
    gap: calc(30vw / var(--_mbw));
  }

  .device-type-desktop & {
    gap: 1.875rem;
  }

  .banner__items {
    display: grid;

    .device-type-mobile & {
      gap: calc(10vw / var(--_mbw));
      grid-auto-columns: auto;
      margin: 0 calc(10vw / var(--_mbw));
    }

    .device-type-desktop & {
      gap: .625rem;
      grid-template-columns: auto auto;
    }
  }
}

