.youtube__playlist__container {
  background: var(--_content-bg);
  padding: 1rem;

  &:has(> .now__loading) {
    display: grid;
    place-items: center;
  }
}

.youtube__playlist__loading {
  color: rgba(0 0 0 / .5);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  min-height: 4rem;

  .spinner {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: .5rem;
  }

  .spinner > div {
    --_size: .75rem;
    width: var(--_size);
    height: var(--_size);
    background-color: currentColor;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }

  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }

  .youtube__playlist__loading__text {
    font-size: 1rem;
    color: currentColor;
  }
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}


.youtube__playlist__items {
  max-width: 48rem;
  margin: auto;

  .device-type-desktop & {
    --slide-height: 100%;
    --slide-spacing: .5rem;
    --slide-size: calc(100% / 3);
    --button-size: 2rem;
    --dot-size: 1rem;
  }
  .device-type-mobile & {
    --slide-height: 100%;
    --slide-spacing: .5rem;
    --slide-size: calc(100% / 2);
    --button-size: 2rem;
    --dot-size: 1rem;
  }

  --brand-primary: rgb(47, 112, 193);
  --brand-secondary: rgb(116, 97, 195);
  --brand-alternative: rgb(19, 120, 134);
  --background-site: rgb(249, 249, 249);
  --background-code: rgb(244, 244, 244);
  --text-body: rgb(54, 49, 61);
  --text-comment: rgb(99, 94, 105);
  --text-high-contrast: rgb(49, 49, 49);
  --text-medium-contrast: rgb(99, 94, 105);
  --text-low-contrast: rgb(116, 109, 118);
  --detail-high-contrast: rgb(192, 192, 192);
  --detail-medium-contrast: rgb(234, 234, 234);
  --detail-low-contrast: rgb(240, 240, 242);
  --admonition-note: rgb(46, 109, 188);
  --admonition-warning: rgb(255, 196, 9);
  --admonition-danger: rgb(220, 38, 38);
  --brand-primary-rgb-value: 47, 112, 193;
  --brand-secondary-rgb-value: 116, 97, 195;
  --brand-alternative-rgb-value: 19, 120, 134;
  --background-site-rgb-value: 249, 249, 249;
  --background-code-rgb-value: 244, 244, 244;
  --text-body-rgb-value: 54, 49, 61;
  --text-comment-rgb-value: 99, 94, 105;
  --text-high-contrast-rgb-value: 49, 49, 49;
  --text-medium-contrast-rgb-value: 99, 94, 105;
  --text-low-contrast-rgb-value: 116, 109, 118;
  --detail-high-contrast-rgb-value: 192, 192, 192;
  --detail-medium-contrast-rgb-value: 234, 234, 234;
  --detail-low-contrast-rgb-value: 240, 240, 242;
  --admonition-note-rgb-value: 46, 109, 188;
  --admonition-warning-rgb-value: 255, 196, 9;
  --admonition-danger-rgb-value: 220, 38, 38;
}
.youtube__playlist__viewport {
  overflow: hidden;
}
.youtube__playlist__items__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.youtube__playlist__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.youtube__playlist__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
  position: relative;

  > img {
    width: 100%;
    height: auto;
  }

  > svg {
    .device-type-desktop & {
      --_size: 4rem;
    }
    .device-type-mobile & {
      --_size: 3rem;
    }
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--_size);
    height: var(--_size);
    fill: rgba(255 255 255 / 1);
    z-index: 2;
  }
}
.youtube__playlist__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.youtube__playlist__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.youtube__playlist__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: var(--button-size);
  height: var(--button-size);
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.youtube__playlist__button:disabled {
  color: var(--detail-high-contrast);
}
.youtube__playlist__button__svg {
  width: 35%;
  height: 35%;
}
.youtube__playlist__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: calc(var(--dot-size) / 2);
  /* margin-right: calc((2.6rem - 1.4rem) / 2 * -1); */
}
.youtube__playlist__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: var(--dot-size);
  height: var(--dot-size);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.youtube__playlist__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: var(--dot-size);
  height:var(--dot-size);
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: '';
}
.youtube__playlist__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
}
