---
import { name, directory, tsukasaId } from '@settings';
import Layout from '@layouts/Layout.astro';
import '@styles/page-intro.css';
---

<Layout title={`イントロダクション｜${name}｜テレビ朝日`}>
  <div class="intro__container">
    <h2 class="typ__h2" data-label="INTRO">イントロダクション</h2>
  </div>
</Layout>

