---
import { name, directory, tsukasaId } from '@settings';
import Layout from '@layouts/Layout.astro';
import '@styles/page-intro.css';
---

<Layout title={`イントロダクション｜${name}｜テレビ朝日`}>
  <section class="intro__container section__container">
    <h2 class="typ__h2" data-label="イントロダクション">introduction</h2>
    <div class="intro__items__container section__items__container">
      <div class="catch-copy">
        <p class="catch-copy-a">
          井ノ原快彦主演<br /> 人気シリーズ『特捜９』<br /> ついにファイナル！
        </p>
        <p class="catch-copy-b">「役と一緒に僕も育ててもらった」（井ノ原）</p>
        <p class="catch-copy-c">
          『9係』から通算20作目となる<br /> 記念すべき節目の集大成!!
        </p>
      </div>
      <div class="img-box1 u-mtm u-mbl protect-box">
        <img class="protect" src="img/01.jpg" alt="" />
      </div>
      <div class="h3-ttl-a">
        井ノ原快彦主演の人気シリーズ『特捜９』がこの春、ついにファイナルを迎える！
      </div>
      <div class="read-box">　2018年４月、『警視庁捜査一課9係』からバトンを受け継ぐ形でスタートした、井ノ原快彦主演『特捜９』――。以来、難事件に挑む個性派刑事たちの活躍と、背景にあるそれぞれの人生模様を丁寧に描き、シーズンを重ねるたびに新たな視聴者層を巻き込んでファンを増やしてきました。そんな人気シリーズ『特捜９』がこの春、ついに『final season』を迎えます！ </div>
      <div class="h3-ttl-a">井ノ原が演じる特捜班班長・浅輪直樹の成長物語としても見応えタップリ！<br> 「初心に戻って直樹を演じ切りたい」とファイナルに向け井ノ原も気合みなぎる！</div>
      <div class="read-box"> 　2006年から2017年まで、故・渡瀬恒彦主演でお送りした刑事ドラマ『警視庁捜査一課9係』から数えること通算20作目となるこの『final season』。記念すべき節目のシーズンにして、シリーズの集大成となります。井ノ原が演じる警視庁捜査一課特別捜査班の班長・浅輪直樹にとっても、新人刑事時代から『season７』(2024年)で班長を受けることを決意するまでの、成長ストーリーとしての側面も持ち合わせます。井ノ原は「やり切った感じがしています。ここできっちり完結させて、ちゃんと着地させてあげたいという気持ちが強い」と今回で最後のシーズンとなる感慨を語るとともに、「一言では語り尽くせないですが、役と一緒に僕も育ててもらったという気持ちが大きいですね。僕自身も初心に戻って、直樹を演じ切りたいと思っています」と、浅輪直樹として20年近い年月を駆け続けた想いを吐露。共感力に長け、誰よりも仲間を思いやるリーダー・直樹として有終の美を飾るべく、さらに熱の入った演技で『特捜9 final season』に挑むことを誓うのでした！ </div>
      <div class="h3-ttl-a">直樹を筆頭にもはや《家族》と呼べる個性強めな《特捜班メンバー》も続投！<br> 「出会っていただいてありがとう」（井ノ原）！<br> メンバーたちの最後の勇姿に注目!!</div>
      <div class="read-box"> 　そんな井ノ原扮する直樹とともに、《今》の世相を反映した事件の解決や、背後に潜むさまざまな人間ドラマとそれらに全力で向き合う姿をお届けしてきた、個性強めな《特捜班メンバー》も続投。小宮山志保（羽田美智子）、青柳靖（吹越満）、矢沢英明（田口浩正）、『season５』から登場の高尾由真（深川麻衣）、そして、Snow Man・向井康二演じる、捜査支援分析センター（SSBC）所属の分析官・三ツ矢翔平ら、培ってきた信頼を礎に、意見の違いを素直に認め合って連携できるチームの活躍は見逃せません。<br> 　また、直樹を支えてきた妻・倫子（中越典子）、特捜班と共に寄り添ってきた監察医・早瀬川真澄（原沙知絵）の存在も、シリーズを通して大きな役割を果たしてきたことは言うまでもありません。<br> 　『season７』で、総話数が通算200話の大台を突破した『特捜９』ですが、長い間、苦楽をともにしてきた《家族》のようなメンバーが織りなす、息の合った掛け合いやそれぞれの背景を丹念に描く群像劇は、この『final season』でも大きな見どころのひとつとなっています。強固な信頼関係のもとでつながった仲間たちとシリーズファイナルを迎えることに関して、井ノ原は「20年近い時間をともにしている方もいれば、途中から参加してくださった方もいます。作品の中で生きている方もいらっしゃいます。皆さんに『出会っていただいてありがとう』と伝えたい」と感謝の気持ちを言葉にします。直樹を筆頭とした、《特捜班メンバー》たちの最後の勇姿を、ぜひその目に焼き付けてください！<br>
      </div>
      <div class="h3-ttl-a">《家族で楽しめる刑事ドラマ》として愛され続けたシリーズの魅力をさらに進化！「登場人物の人間像を深掘りする」（井ノ原）と新たな視聴者も惹きつける！</div>
      <div class="read-box"> 　新人刑事から時を経て班長に就任し、犯人や市井の人々、そして特捜班メンバーと丹念に向き合ってきた直樹。そして、彼の成長を視聴者もともに見てきた19年――。<br> 　登場人物それぞれのバックボーンにまつわるドラマが根底にありながらも、毎回、１話完結で進んでいく物語は《家族で楽しめる刑事ドラマ》として長年愛され続けた理由のひとつです。<br> 　2025年４月９日スタートの『特捜9 final season』は、そんな直樹が班長として毎回起こる事件に挑み、登場人物との心の交わりや人間ドラマを描く『特捜９』シリーズの集大成版としてお届けします。<br> 　まさに『警視庁捜査一課9係』から続く『特捜９』の総括となり、シリーズの魅力をさらに進化させ、古くからのファンはもちろん、新たな視聴者も惹きつける《ファイナル》！<br> 　井ノ原も「今作も、レギュラー登場人物それぞれの背景を丁寧に描いて、ただ捜査するのではなく、各々がいろいろなものを抱えながら生きているという人間像が深掘りされます。水曜の夜を楽しみにしてくださればうれしいです！」と大いに意気込む『特捜9 final season』にぜひご期待ください！ </div>
      <div class="h3-ttl-a">TVerで『特捜９』全シーズンの無料配信がスタート！<br> 『警視庁捜査一課9係』の配信も決定！</div>
      <div class="read-box"> 　『特捜9 final season』放送決定を記念して、本日２月28日（金）から、『特捜９』シリーズ過去作品を「TVer」にて期間限定で無料配信します！　『特捜９』の前身作品である『警視庁捜査一課9係』も無料配信が決定しました！<br> 　これまで『特捜９』シリーズを一度も見たことがない方も、時々見ていた方も、そして全話欠かさず見てきた方も、『final season』の放送前に過去シリーズを振り返ってみてはいかがでしょうか？ </div>
    </div>
  </section>
</Layout>
