---
export const partial = true;
---
<Fragment is:raw>
{if $image_path_1 != ""}
<div class="img-box img-box1 protect-box"><img class="protect" src="{$image_path_1}" alt=""></div>
{/if}
</Fragment>
