---
---
{ () => {
  if (import.meta.env.MODE === 'production') {
    return (
      <div id="common-footer"></div>
      <div id="rectangle-mobile" class="sp"></div>
    )
  } else {
    return (
      <div class="common-footer-mobile">
        <div data-reactroot="" class="common-footer-sp__commonFooter--3sObj"><div style="position: relative;"><div style="width: 100%; height: 10px; margin: auto; overflow: hidden; position: absolute; left: 0px; right: 0px; top: 0px;"><div style="position: absolute; box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px 0px; right: 0px; left: 0px; width: 100%; height: 10px; border-radius: 0px 0px 50% 50%; top: -10px;"></div></div></div><div class="common-footer-sp__primaryContainer--6e6_X"><a href="/sphone/" class="common-footer-sp__primaryItem--24nyH"><!-- react-text: 24 -->テレビ朝日トップ<!-- /react-text --><svg x="0px" y="0px" width="18px" height="18px" viewBox="0 0 24 24" class="common-footer-sp__arrow--3cJs3"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path></svg></a><a href="/bangumi/sphone/" class="common-footer-sp__primaryItem--24nyH"><!-- react-text: 28 -->番組表<!-- /react-text --><svg x="0px" y="0px" width="18px" height="18px" viewBox="0 0 24 24" class="common-footer-sp__arrow--3cJs3"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path></svg></a><a href="/drama/sphone/" class="common-footer-sp__primaryItem--24nyH"><!-- react-text: 32 -->ドラマ・映画<!-- /react-text --><svg x="0px" y="0px" width="18px" height="18px" viewBox="0 0 24 24" class="common-footer-sp__arrow--3cJs3"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path></svg></a><a href="/variety/sphone/" class="common-footer-sp__primaryItem--24nyH"><!-- react-text: 36 -->バラエティ<!-- /react-text --><svg x="0px" y="0px" width="18px" height="18px" viewBox="0 0 24 24" class="common-footer-sp__arrow--3cJs3"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path></svg></a><a href="/music-top/sphone/" class="common-footer-sp__primaryItem--24nyH"><!-- react-text: 40 -->音楽<!-- /react-text --><svg x="0px" y="0px" width="18px" height="18px" viewBox="0 0 24 24" class="common-footer-sp__arrow--3cJs3"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path></svg></a><a href="/anime/sphone/" class="common-footer-sp__primaryItem--24nyH"><!-- react-text: 44 -->アニメ・ヒーロー<!-- /react-text --><svg x="0px" y="0px" width="18px" height="18px" viewBox="0 0 24 24" class="common-footer-sp__arrow--3cJs3"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path></svg></a><a href="/news/sphone/" class="common-footer-sp__primaryItem--24nyH"><!-- react-text: 48 -->報道・情報・ドキュメンタリー<!-- /react-text --><svg x="0px" y="0px" width="18px" height="18px" viewBox="0 0 24 24" class="common-footer-sp__arrow--3cJs3"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path></svg></a><a href="/sports/sphone/" class="common-footer-sp__primaryItem--24nyH"><!-- react-text: 52 -->スポーツ<!-- /react-text --><svg x="0px" y="0px" width="18px" height="18px" viewBox="0 0 24 24" class="common-footer-sp__arrow--3cJs3"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path></svg></a><a href="/cooking/sphone/" class="common-footer-sp__primaryItem--24nyH"><!-- react-text: 56 -->料理・旅・暮らし<!-- /react-text --><svg x="0px" y="0px" width="18px" height="18px" viewBox="0 0 24 24" class="common-footer-sp__arrow--3cJs3"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path></svg></a></div><form action="/search/sphone/" method="GET" class="common-footer-sp__search--2VAJ_"><div class="common-footer-sp__textFieldWrapper--1XjdG"><input type="text" name="kw" value="" placeholder="番組キーワードを入力" class="common-footer-sp__textField--2Zp_h"></div><button type="submit" class="common-footer-sp__searchButton--3Gj9G"><svg class="common-footer-sp__searchButtonIcon--1Z5aG"><path d="M14.744 13.515L10.73 9.499c0.768-1.026 1.186-2.263 1.186-3.542 0.001-1.589-0.618-3.085-1.743-4.211C9.048 0.62 7.551 0 5.959 0 4.368 0 2.871 0.619 1.745 1.746 0.619 2.872 0 4.368 0.001 5.958c0 1.592 0.62 3.088 1.746 4.212 1.125 1.125 2.621 1.745 4.212 1.745 1.278 0 2.515-0.417 3.541-1.185l4.012 4.011C13.674 14.905 13.898 15 14.13 15s0.45-0.091 0.613-0.254c0.165-0.164 0.256-0.383 0.256-0.615C15 13.898 14.909 13.679 14.744 13.515zM8.94 8.94c-0.797 0.797-1.856 1.235-2.981 1.235S3.774 9.737 2.977 8.94C2.18 8.144 1.742 7.084 1.742 5.957 1.741 4.833 2.179 3.773 2.976 2.976c0.797-0.798 1.857-1.237 2.983-1.237 1.125 0 2.185 0.439 2.983 1.237 0.796 0.797 1.234 1.855 1.234 2.981C10.177 7.082 9.738 8.142 8.94 8.94z"></path></svg></button></form><div class="common-footer-sp__bannersContainer--bEZVs"></div><div class="common-footer-sp__price--3fmGX"><p>テレビ朝日のホームページに掲載されている情報、価格は取材当時のものです。現在の価格表示と異なる場合があります。</p></div><div class="common-footer-sp__jasrac--GCuer"><p>JASRAC許諾 第6688647023Y41011号</p><p>JASRAC許諾 第6688647024Y41005号</p></div><div class="common-footer-sp__copyright--2TCek"><span>Copyright©</span><svg x="0px" y="0px" width="16px" height="16px" viewBox="0 0 100 100" class="common-footer-sp__element--2CvJl"><path d="M31.92 92.91l-22.654.102L.27 75.358l67.666-68.26 22.658-.11 9.136 18.08"></path></svg><span>tv asahi All Rights Reserved.</span></div></div>
      </div>
      <div id="rectangle-mobile" class="rectangle-mobile"><div class="footer-banner-mobile"></div></div>
      <style>
        .device-type-mobile .common-footer-desktop { display: none !important; }
        .device-type-desktop .common-footer-mobile { display: none !important; }
        .device-type-mobile .rectangle-desktop { display: none !important; }
        .device-type-desktop .rectangle-mobile { display: none !important; }
        .rectangle-mobile {
          display: flex;
          justify-content: center;
          align-items: center;
          padding-bottom: 5rem;
        }
        .footer-banner-mobile {
          width: 300px;
          height: 250px;
          background-color: #808080;
          margin: auto;
        }
        .common-footer-sp__commonFooter--3sObj * {
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
        }

        .common-footer-sp__commonFooter--3sObj {
          border-top: solid 1px rgba(0, 0, 0, .1);
          background-color: #212121;
          // background-color: #f2efe9;
          // background-color: #424242;
        }

        .common-footer-sp__container--17cla {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          // border-bottom: 1px solid rgba(255, 255, 255, .2);
        }

        .common-footer-sp__header--Ltytk {
          font-size: 16px;
          font-weight: 400;
          color: #fff;
          text-align: center;
          padding: 16px 0 0 0;
          margin: 0;
        }

        .common-footer-sp__item--2Jh3t:link,
          .common-footer-sp__item--2Jh3t:visited,
          .common-footer-sp__item--2Jh3t:active,
          .common-footer-sp__item--2Jh3t:hover {
          color: rgba(255, 255, 255, .870588);
          margin: 0;
          padding: 8px 16px;
          font-size: 13px;
        }

        .common-footer-sp__item--2Jh3t {
          position: relative;
          -webkit-box-flex: 0;
              -ms-flex: 0 0 50%;
                  flex: 0 0 50%;
          max-width: 50%;
          text-decoration: none;
          text-align: center;
          min-height: 56px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          // border-bottom: 1px solid rgba(255, 255, 255, .2);

          // &:last-child { border-bottom: none;
          }
        }

        .common-footer-sp__verticalLine--2kVHU:after {
          content: "";
          position: absolute;
          top: 50%;
          bottom: 50%;
          right: 0;
          width: 1px;
          height: 16px;
          margin: auto;
          background-color: rgba(255, 255, 255, .1);
        }

        .common-footer-sp__verticalLine--2kVHU:before {
          content: "";
          position: absolute;
          bottom: 0;
          right: 0;
          left: 0;
          width: 200%;
          height: 1px;
          background-color: rgba(255, 255, 255, .1);
        }

        .common-footer-sp__primaryContainer--6e6_X {
          // composes: container;
          // background-color: #212121;
          margin: 0 0 24px;
        }

        .common-footer-sp__primaryItem--24nyH {
          // composes: item
        }

        .common-footer-sp__primaryItem--24nyH:link,
          .common-footer-sp__primaryItem--24nyH:visited,
          .common-footer-sp__primaryItem--24nyH:active,
          .common-footer-sp__primaryItem--24nyH:hover {
          color: rgba(255, 255, 255, .870588);
          margin: 0;
          padding: 16px 40px 16px 16px;
          font-size: 14px;
        }

        .common-footer-sp__primaryItem--24nyH {
          position: relative;
          text-decoration: none;
          // min-height: 56px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          // justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          border-bottom: 1px solid rgba(255, 255, 255, .1);
        }

        .common-footer-sp__primaryItem--24nyH:last-child {
          border-bottom: none;
        }

        .common-footer-sp__arrow--3cJs3 {
          position: absolute;
          top: 0;
          right: 16px;
          bottom: 0;
          margin: auto;
          fill: rgba(255, 255, 255, .5);
        }

        .common-footer-sp__secondaryContainer--3u79j {
        }

        .common-footer-sp__secondaryItem--1ZY5E {
        }

        .common-footer-sp__search--2VAJ_ {
          position: relative;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          margin: 0 32px 48px 32px;
        }

        .common-footer-sp__textFieldWrapper--1XjdG {
          -webkit-box-flex: 1;
              -ms-flex: 1 1 auto;
                  flex: 1 1 auto;
          max-width: 280px;
          height: 40px;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
          -webkit-box-shadow: 1px 0px 6px -1px rgba(0, 0, 0, .2) inset;
                  box-shadow: 1px 0px 6px -1px rgba(0, 0, 0, .2) inset;
          -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          // background: var(--_content-bg);
          background-color: rgba(0, 0, 0, .2);
        }

        .common-footer-sp__textField--2Zp_h {
          color: rgba(255, 255, 255, .870588);
          font-size: 14px;
          height: 40px;
          line-height: 13px;
          padding: 14px 10px 14px 20px;
          outline: none;
          position: relative;
          background-color: transparent;
          border: none
        }

        .common-footer-sp__textField--2Zp_h::-webkit-input-placeholder {
          color: rgba(255, 255, 255, .4);
        }

        .common-footer-sp__searchButton--3Gj9G {
          cursor: pointer;
          width: 40px;
          height: 40px;
          outline: none;
          border-top-right-radius: 50%;
          border-bottom-right-radius: 50%;
          position: relative;
          -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          background-color: #00a0c6;
          border: none;
        }

        .common-footer-sp__searchButtonIcon--1Z5aG {
          fill: #ffffff;
          display: block;
          width: 15px;
          height: 15px;
          position: absolute;
          top: -1px;
          right: 4px;
          bottom: 0;
          left: 0;
          margin: auto;
        }

        .common-footer-sp__bannersContainer--bEZVs {
        }

        .common-footer-sp__bannerItem--Tx-IR {
          display: block;
          text-align: center;
          margin: 16px 0 0 0;
          padding: 0;
        }

        .common-footer-sp__price--3fmGX {
          margin: 32px 16px 16px;
          font-size: 10px;
          color: rgba(255, 255, 255, .25);
        }

        .common-footer-sp__jasrac--GCuer {
          text-align: right;
          font-size: 10px;
          margin: 16px;
          color: rgba(255, 255, 255, .25);
        }

        .common-footer-sp__copyright--2TCek {
          text-align: right;
          padding: 32px 16px 16px;
          margin: 0;
          color: #546e7a;
          font-size: 12px;
        }

        .common-footer-sp__element--2CvJl {
          fill: #546e7a;
          margin: 0px 0px -2px 4px;
        }
      </style>

      <div class="common-footer-desktop">
        <footer data-reactroot="" class="common-footer-pc__commonFooter--1wivr"><div style="position: relative;"><div style="width: 100%; height: 10px; margin: auto; overflow: hidden; position: absolute; left: 0px; right: 0px; top: 0px;"><div style="position: absolute; box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px 0px; right: 0px; left: 0px; width: 100%; height: 10px; border-radius: 0px 0px 50% 50%; top: -10px;"></div></div></div><div class="common-footer-pc__links--12OCK common-footer-pc__footerContainer--21MWM"><div class="common-footer-pc__linkContainer--355HV"><div class="common-footer-pc__linkHeaderContainer--16ACa"><h2 class="common-footer-pc__linkHeader--3lB9o">企業情報</h2></div><div class="common-footer-pc__linkItemsContainer--3E48v"><div class="common-footer-pc__linkItemContainer--113ea"><a href="https://company.tv-asahi.co.jp/" class="common-footer-pc__linkItem--27QAK"><span>企業情報</span></a><span class="common-footer-pc__linkItemBorder--cl6Dv"></span></div><div class="common-footer-pc__linkItemContainer--113ea"><a target="_blank" href="https://www.tv-asahihd.co.jp/IR/" class="common-footer-pc__linkItem--27QAK"><span>IR</span></a><span class="common-footer-pc__linkItemBorder--cl6Dv"></span></div><div class="common-footer-pc__linkItemContainer--113ea"><a href="https://company.tv-asahi.co.jp/corp/network.html" class="common-footer-pc__linkItem--27QAK"><span>系列局</span></a><span class="common-footer-pc__linkItemBorder--cl6Dv"></span></div><div class="common-footer-pc__linkItemContainer--113ea"><a target="_blank" href="https://www.tv-asahihd.co.jp/corp/group.html" class="common-footer-pc__linkItem--27QAK"><span>グループ会社一覧</span></a><span class="common-footer-pc__linkItemBorder--cl6Dv"></span></div><div class="common-footer-pc__linkItemContainer--113ea"><a target="_blank" href="https://www.tv-asahihd.co.jp/koukoku/" class="common-footer-pc__linkItem--27QAK"><span>電子公告</span></a><span class="common-footer-pc__linkItemBorder--cl6Dv"></span></div><div class="common-footer-pc__linkItemContainer--113ea"><a href="/teleasa/" class="common-footer-pc__linkItem--27QAK"><span>テレビ朝日/アクセス・見学・講座</span></a><span class="common-footer-pc__linkItemBorder--cl6Dv"></span></div><div class="common-footer-pc__linkItemContainer--113ea"><a href="https://company.tv-asahi.co.jp/saiyo/" class="common-footer-pc__linkItem--27QAK"><span>採用</span></a><span class="common-footer-pc__linkItemBorder--cl6Dv"></span></div><div class="common-footer-pc__linkItemContainer--113ea"><a target="_blank" href="https://www.tv-asahihd.co.jp/" class="common-footer-pc__linkItem--27QAK"><span>テレビ朝日ホールディングス</span></a></div></div></div><div class="common-footer-pc__linkContainer--355HV"><div class="common-footer-pc__linkHeaderContainer--16ACa"><h2 class="common-footer-pc__linkHeader--3lB9o">関連メディア</h2></div><div class="common-footer-pc__linkItemsContainer--3E48v"><div class="common-footer-pc__linkItemContainer--113ea"><a href="//douga.tv-asahi.co.jp/" class="common-footer-pc__linkItem--27QAK"><span>テレ朝動画</span></a><span class="common-footer-pc__linkItemBorder--cl6Dv"></span></div><div class="common-footer-pc__linkItemContainer--113ea"><a href="https://post.tv-asahi.co.jp/" class="common-footer-pc__linkItem--27QAK"><span>テレ朝POST</span></a><span class="common-footer-pc__linkItemBorder--cl6Dv"></span></div><div class="common-footer-pc__linkItemContainer--113ea"><a href="https://epio.tv-asahi.co.jp/" class="common-footer-pc__linkItem--27QAK"><span>epio</span></a><span class="common-footer-pc__linkItemBorder--cl6Dv"></span></div><div class="common-footer-pc__linkItemContainer--113ea"><a href="/with_5ch/" class="common-footer-pc__linkItem--27QAK"><span>withテレ朝</span></a></div></div></div><div class="common-footer-pc__linkContainer--355HV"><div class="common-footer-pc__linkHeaderContainer--16ACa"><h2 class="common-footer-pc__linkHeader--3lB9o">ショッピング</h2></div><div class="common-footer-pc__linkItemsContainer--3E48v"><div class="common-footer-pc__linkItemContainer--113ea"><a href="/shop/" class="common-footer-pc__linkItem--27QAK"><span>番組グッズ</span></a><span class="common-footer-pc__linkItemBorder--cl6Dv"></span></div><div class="common-footer-pc__linkItemContainer--113ea"><a href="https://ropping.tv-asahi.co.jp/" class="common-footer-pc__linkItem--27QAK"><span>テレビ通販</span></a></div></div></div><div class="common-footer-pc__linkContainer--355HV"><div class="common-footer-pc__linkHeaderContainer--16ACa"><h2 class="common-footer-pc__linkHeader--3lB9o">エンターテインメント</h2></div><div class="common-footer-pc__linkItemsContainer--3E48v"><div class="common-footer-pc__linkItemContainer--113ea"><a href="/movie/" class="common-footer-pc__linkItem--27QAK"><span>劇場公開映画</span></a><span class="common-footer-pc__linkItemBorder--cl6Dv"></span></div><div class="common-footer-pc__linkItemContainer--113ea"><a href="/event/" class="common-footer-pc__linkItem--27QAK"><span>イベント</span></a><span class="common-footer-pc__linkItemBorder--cl6Dv"></span></div><div class="common-footer-pc__linkItemContainer--113ea"><a href="/ticket/" class="common-footer-pc__linkItem--27QAK"><span>テレ朝チケット</span></a><span class="common-footer-pc__linkItemBorder--cl6Dv"></span></div><div class="common-footer-pc__linkItemContainer--113ea"><a target="_blank" href="http://www.ex-theater.com/" class="common-footer-pc__linkItem--27QAK"><span>EX THEATER ROPPONGI</span></a><span class="common-footer-pc__linkItemBorder--cl6Dv"></span></div><div class="common-footer-pc__linkItemContainer--113ea"><a href="/gmmtvasahi/" class="common-footer-pc__linkItem--27QAK"><span>泰流コンテンツ</span></a><span class="common-footer-pc__linkItemBorder--cl6Dv"></span></div><div class="common-footer-pc__linkItemContainer--113ea"><a href="/k-contents/" class="common-footer-pc__linkItem--27QAK"><span>韓流コンテンツ</span></a><span class="common-footer-pc__linkItemBorder--cl6Dv"></span></div><div class="common-footer-pc__linkItemContainer--113ea"><a href="https://tdp.tv-asahi.co.jp/" class="common-footer-pc__linkItem--27QAK"><span>TOKYO DREAM PARK</span></a></div></div></div><div class="common-footer-pc__linkContainer--355HV"><div class="common-footer-pc__linkHeaderContainer--16ACa"><h2 class="common-footer-pc__linkHeader--3lB9o">各種コンテンツ</h2></div><div class="common-footer-pc__linkItemsContainer--3E48v"><div class="common-footer-pc__linkItemContainer--113ea"><a href="/announcer/" class="common-footer-pc__linkItem--27QAK"><span>アナウンサーズ</span></a><span class="common-footer-pc__linkItemBorder--cl6Dv"></span></div><div class="common-footer-pc__linkItemContainer--113ea"><a href="/present/" class="common-footer-pc__linkItem--27QAK"><span>プレゼント・観覧募集</span></a><span class="common-footer-pc__linkItemBorder--cl6Dv"></span></div><div class="common-footer-pc__linkItemContainer--113ea"><a href="/sns/" class="common-footer-pc__linkItem--27QAK"><span>番組SNS一覧</span></a><span class="common-footer-pc__linkItemBorder--cl6Dv"></span></div><div class="common-footer-pc__linkItemContainer--113ea"><a href="//news.tv-asahi.co.jp/weather/" class="common-footer-pc__linkItem--27QAK"><span>お天気</span></a><span class="common-footer-pc__linkItemBorder--cl6Dv"></span></div><div class="common-footer-pc__linkItemContainer--113ea"><a href="/goodmorning/uranai/" class="common-footer-pc__linkItem--27QAK"><span>占い</span></a><span class="common-footer-pc__linkItemBorder--cl6Dv"></span></div><div class="common-footer-pc__linkItemContainer--113ea"><a href="/go-chan/" class="common-footer-pc__linkItem--27QAK"><span>ゴーちゃん。</span></a><span class="common-footer-pc__linkItemBorder--cl6Dv"></span></div><div class="common-footer-pc__linkItemContainer--113ea"><a href="/mailmagazine/" class="common-footer-pc__linkItem--27QAK"><span>メルマガ</span></a><span class="common-footer-pc__linkItemBorder--cl6Dv"></span></div><div class="common-footer-pc__linkItemContainer--113ea"><a href="/wakuwaku/" class="common-footer-pc__linkItem--27QAK"><span>わくわくキャンペーン</span></a><span class="common-footer-pc__linkItemBorder--cl6Dv"></span></div><div class="common-footer-pc__linkItemContainer--113ea"><a href="/shinjin/" class="common-footer-pc__linkItem--27QAK"><span>テレビ朝日新人シナリオ大賞</span></a><span class="common-footer-pc__linkItemBorder--cl6Dv"></span></div><div class="common-footer-pc__linkItemContainer--113ea"><a href="//wws.tv-asahi.co.jp/tvasahiid/" class="common-footer-pc__linkItem--27QAK"><span>tv asahi iD</span></a><span class="common-footer-pc__linkItemBorder--cl6Dv"></span></div><div class="common-footer-pc__linkItemContainer--113ea"><a href="/list/" class="common-footer-pc__linkItem--27QAK"><span>サイトマップ</span></a></div></div></div><div class="common-footer-pc__linkContainer--355HV"><div class="common-footer-pc__linkHeaderContainer--16ACa"><h2 class="common-footer-pc__linkHeader--3lB9o">テレビ朝日の取り組み</h2></div><div class="common-footer-pc__linkItemsContainer--3E48v"><div class="common-footer-pc__linkItemContainer--113ea"><a target="_blank" href="http://www.tv-asahi-ask.co.jp/" class="common-footer-pc__linkItem--27QAK"><span>アナウンサー・ナレータースクール</span></a><span class="common-footer-pc__linkItemBorder--cl6Dv"></span></div><div class="common-footer-pc__linkItemContainer--113ea"><a href="/fukushi/" class="common-footer-pc__linkItem--27QAK"><span>福祉文化事業団</span></a><span class="common-footer-pc__linkItemBorder--cl6Dv"></span></div><div class="common-footer-pc__linkItemContainer--113ea"><a href="/doraemonbokin/" class="common-footer-pc__linkItem--27QAK"><span>ドラえもん募金</span></a><span class="common-footer-pc__linkItemBorder--cl6Dv"></span></div><div class="common-footer-pc__linkItemContainer--113ea"><a href="https://www.tv-asahi.co.jp/reading/touch/" class="common-footer-pc__linkItem--27QAK"><span>touch！★テレ朝ブログ</span></a><span class="common-footer-pc__linkItemBorder--cl6Dv"></span></div><div class="common-footer-pc__linkItemContainer--113ea"><a href="https://company.tv-asahi.co.jp/improve/" class="common-footer-pc__linkItem--27QAK"><span>番組向上への取り組み</span></a><span class="common-footer-pc__linkItemBorder--cl6Dv"></span></div><div class="common-footer-pc__linkItemContainer--113ea"><a href="/english/" class="common-footer-pc__linkItem--27QAK"><span>International Site</span></a><span class="common-footer-pc__linkItemBorder--cl6Dv"></span></div><div class="common-footer-pc__linkItemContainer--113ea"><a target="_blank" href="https://www.tv-asahihd.co.jp/sdgs/" class="common-footer-pc__linkItem--27QAK"><span>SDGs</span></a></div></div></div><div class="common-footer-pc__linkContainer--355HV"><div class="common-footer-pc__linkHeaderContainer--16ACa"><h2 class="common-footer-pc__linkHeader--3lB9o">テレビ朝日について</h2></div><div class="common-footer-pc__linkItemsContainer--3E48v"><div class="common-footer-pc__linkItemContainer--113ea"><a href="/contact/" class="common-footer-pc__linkItem--27QAK"><span>お問い合わせ</span></a><span class="common-footer-pc__linkItemBorder--cl6Dv"></span></div><div class="common-footer-pc__linkItemContainer--113ea"><a href="/privacy/" class="common-footer-pc__linkItem--27QAK"><span>個人情報等について</span></a><span class="common-footer-pc__linkItemBorder--cl6Dv"></span></div><div class="common-footer-pc__linkItemContainer--113ea"><a href="/tvdata/" class="common-footer-pc__linkItem--27QAK"><span>視聴データの取扱いについて</span></a><span class="common-footer-pc__linkItemBorder--cl6Dv"></span></div><div class="common-footer-pc__linkItemContainer--113ea"><a href="/link/" class="common-footer-pc__linkItem--27QAK"><span>リンクについて</span></a><span class="common-footer-pc__linkItemBorder--cl6Dv"></span></div><div class="common-footer-pc__linkItemContainer--113ea"><a href="/browser/" class="common-footer-pc__linkItem--27QAK"><span>推奨環境について</span></a><span class="common-footer-pc__linkItemBorder--cl6Dv"></span></div><div class="common-footer-pc__linkItemContainer--113ea"><a href="/menseki/" class="common-footer-pc__linkItem--27QAK"><span>免責</span></a><span class="common-footer-pc__linkItemBorder--cl6Dv"></span></div><div class="common-footer-pc__linkItemContainer--113ea"><a href="/rights/" class="common-footer-pc__linkItem--27QAK"><span>著作権</span></a></div></div></div></div>
          <div class="common-footer-pc__bannersWrapper--WjuI3">
            <div class="common-footer-pc__banners--Ufiw9 common-footer-pc__footerContainer--21MWM">
            <span class="common-footer-pc__bannerItem--3SVHC hover__hoverTranslucent--2viTG" style="margin:5px 4px"><span style="display:block; width:120px; height:45px; background-color:#808080;"></span></span>
            <span class="common-footer-pc__bannerItem--3SVHC hover__hoverTranslucent--2viTG" style="margin:5px 4px"><span style="display:block; width:120px; height:45px; background-color:#808080;"></span></span>
            <span class="common-footer-pc__bannerItem--3SVHC hover__hoverTranslucent--2viTG" style="margin:5px 4px"><span style="display:block; width:120px; height:45px; background-color:#808080;"></span></span>
            <span class="common-footer-pc__bannerItem--3SVHC hover__hoverTranslucent--2viTG" style="margin:5px 4px"><span style="display:block; width:120px; height:45px; background-color:#808080;"></span></span>
            </div>
          <div class="common-footer-pc__banners--Ufiw9 common-footer-pc__footerContainer--21MWM">
        </div></div><div class="common-footer-pc__price--28bRk common-footer-pc__footerContainer--21MWM">テレビ朝日のホームページに掲載されている情報、価格は取材当時のものです。現在の価格表示と異なる場合があります。</div><div class="common-footer-pc__copyright--ALqZK common-footer-pc__footerContainer--21MWM">Copyright© tv asahi All rights reserved.</div><div style="position: absolute; z-index: 100; opacity: 0; background: rgb(86, 86, 86); color: rgb(255, 255, 255); transform: translate(-8px, -100%); transition: opacity 450ms cubic-bezier(0.23, 1, 0.32, 1); top: 0px; left: 0px;"><div style="position: relative;"><div style="white-space: nowrap; font-size: 10px; line-height: 1; padding: 8px 16px;">外部リンク</div><div style="position: absolute; bottom: -8px; left: 0px; width: 0px; height: 0px; border-style: solid; border-width: 0px 8px 8px 0px; border-color: transparent rgb(0, 0, 0) transparent transparent;"></div></div></div><div></div></footer>
      </div>
      <style>
        .device-type-desktop .common-footer-mobile { display: none; }
        .device-type-desktop .rectangle-mobile { display: none; }
        @font-face {
          font-family: 'Noto Sans Japanese';
          font-style: normal;
          font-weight: 400;
          // src: local('NotoSansCJKjp-Regular.otf'),
          //     local('NotoSansJP-Regular.otf'),
          //     url('/commons/1/fonts/NotoSansCJKjp-Regular.woff') format('woff'),
          //     url('/commons/1/fonts/NotoSansCJKjp-Regular.otf') format('opentype');
        }

        .common-footer-pc__commonFooter--1wivr * {
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;

          font-weight: 400;
          //line-height: 1.428571429;
          font-family: 'Noto Sans Japanese', sans-serif;
          color: rgb(0, 0, 0);
        }

        .common-footer-pc__commonFooter--1wivr {
          background-color: #f2efe9;
          padding: 0 0 35px 0;
          font-size: 13px;
        }

        .common-footer-pc__footerContainer--21MWM {
          width: 1080px;
          margin: auto;
          // padding: 0 0 0 8px;
        }

        .common-footer-pc__footerAnchorItem--1Oov_ {
          font-size: 13px;
          padding: 0;
          margin: 0;
          line-height: 1.428571429
        }

        .common-footer-pc__footerAnchorItem--1Oov_:hover {
          font-size: 13px;
          color: #fff;
          background-color: rgba(188, 179, 162, .6);
          line-height: 1.428571429;
          margin: 0;
          padding: 5px 35px 5px 10px;
        }

        .common-footer-pc__footerAnchorItem--1Oov_:hover .common-footer-pc__arrow--3eiqM {
          fill: #fff;
        }

        .common-footer-pc__footerAnchorItem--1Oov_:link,
          .common-footer-pc__footerAnchorItem--1Oov_:visited,
          .common-footer-pc__footerAnchorItem--1Oov_:active {
          font-size: 13px;
          color: #000;
          text-decoration: none;
          line-height: 1.428571429;
          margin: 0;
          padding: 5px 35px 5px 10px;
        }

        .common-footer-pc__headerWrapper--1ru34 {
          color: rgba(255, 255, 255, .6);
          background-color: #bcb3a2;
        }

        .common-footer-pc__header--QUmqs {
          padding: 8px 0 8px 8px;
          font-size: 14px;
          font-weight: bold;
          line-height: 23px;
        }

        .common-footer-pc__company--U8oEN {
          padding-top: 30px;
        }

        .common-footer-pc__companyItems--VUA-2 {

          display: -webkit-box;

          display: -ms-flexbox;

          display: flex;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          -webkit-box-pack: start;
              -ms-flex-pack: start;
                  justify-content: flex-start;
          margin: 30px auto;
        }

        .common-footer-pc__companyItem--3rAGd {
          -webkit-box-flex: 0;
              -ms-flex: 0 0 25%;
                  flex: 0 0 25%;
        }

        .common-footer-pc__companyItemInner--2VhTk {

          display: -webkit-box;

          display: -ms-flexbox;

          display: flex;
          -webkit-box-pack: start;
              -ms-flex-pack: start;
                  justify-content: flex-start;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          position: relative;
          -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        }

        .common-footer-pc__showsItems--3fhGl {

          display: -webkit-box;

          display: -ms-flexbox;

          display: flex;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          -webkit-box-pack: start;
              -ms-flex-pack: start;
                  justify-content: flex-start;
          margin: 30px auto;
        }

        .common-footer-pc__showsItem--2Hb38 {
          -webkit-box-flex: 0;
              -ms-flex: 0 0 25%;
                  flex: 0 0 25%;
        }

        .common-footer-pc__showsItemInner--2bkde {

          display: -webkit-box;

          display: -ms-flexbox;

          display: flex;
          -webkit-box-pack: start;
              -ms-flex-pack: start;
                  justify-content: flex-start;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          position: relative;
          -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        }

        .common-footer-pc__showsListItem--e6pVC {

          display: block;
          position: relative;
          -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        }

        .common-footer-pc__originalItemsPrimary--1uJfW {

          display: -webkit-box;

          display: -ms-flexbox;

          display: flex;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          -webkit-box-pack: start;
              -ms-flex-pack: start;
                  justify-content: flex-start;
          margin: 30px auto;
        }

        .common-footer-pc__originalItemsSecondary--3f0Rf {

          display: -webkit-box;

          display: -ms-flexbox;

          display: flex;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          -webkit-box-pack: start;
              -ms-flex-pack: start;
                  justify-content: flex-start;
          margin: 30px auto;
        }

        .common-footer-pc__originalItem--3MY9U {
          -webkit-box-flex: 0;
              -ms-flex: 0 0 25%;
                  flex: 0 0 25%;
        }

        .common-footer-pc__originalItemInner--16gRF {

          display: -webkit-box;

          display: -ms-flexbox;

          display: flex;
          -webkit-box-pack: start;
              -ms-flex-pack: start;
                  justify-content: flex-start;
          position: relative;
          -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        }

        .common-footer-pc__links--12OCK {
          padding-top: 32px;
        }

        .common-footer-pc__linkContainer--355HV {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          margin: 16px auto 0;
        }

        .common-footer-pc__linkHeaderContainer--16ACa {
          -webkit-box-flex:  0;
              -ms-flex:  0 0 15%;
                  flex:  0 0 15%;
        }

        .common-footer-pc__linkItemsContainer--3E48v {
          display:  1 1 auto;
          display:  -webkit-box;
          display:  -ms-flexbox;
          display:  flex;
          -ms-flex-wrap:  wrap;
              flex-wrap:  wrap;
        }

        .common-footer-pc__linkHeader--3lB9o {
          color: rgb(0, 0, 0);
          margin: 0;
          padding:  8px 0;
          -webkit-transition:  all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition:  all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          font-size: 13px;
          font-weight: bold;
        }

        .common-footer-pc__linkItemContainer--113ea {
          display:  -webkit-box;
          display:  -ms-flexbox;
          display:  flex;
          -webkit-box-align:  center;
              -ms-flex-align:  center;
                  align-items:  center;
        }

        .common-footer-pc__linkItem--27QAK {
          font-size: 13px;
          padding:  4px 16px;
          line-height: 1.428571429;
          -webkit-transition:  all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition:  all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms
        }

        .common-footer-pc__linkItem--27QAK:link,
          .common-footer-pc__linkItem--27QAK:visited,
          .common-footer-pc__linkItem--27QAK:active {
          font-size: 13px;
          color: #000;
          text-decoration: none;
          line-height: 1.428571429;
        }

        .common-footer-pc__linkItem--27QAK:hover {
          font-size: 13px;
          color: #fff;
          background-color: rgba(188, 179, 162, .6);
          line-height: 1.428571429;
        }

        .common-footer-pc__linkItem--27QAK:hover .common-footer-pc__arrow--3eiqM {
          fill: #fff;
        }

        .common-footer-pc__linkItemBorder--cl6Dv {
          border-right:  solid 1px rgba(0, 0, 0, .2);
          height:  1em;
          margin-top:  4px;
        }

        .common-footer-pc__bannersWrapper--WjuI3 {
          background-color: rgb(233, 229, 221);
          margin: 50px 0;
        }

        .common-footer-pc__banners--Ufiw9 {

          display: -webkit-box;

          display: -ms-flexbox;

          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          padding: 5px 0;
        }

        .common-footer-pc__bannerItem--3SVHC {
        }

        .common-footer-pc__bannerItem--3SVHC:link,
          .common-footer-pc__bannerItem--3SVHC:visited,
          .common-footer-pc__bannerItem--3SVHC:active,
          .common-footer-pc__bannerItem--3SVHC:hover {
          font-size: 14px;
          line-height: 14px;
          margin: 5px 4px;
          padding: 0;
        }

        .common-footer-pc__bannerItem--3SVHC {
          font-size: 14px;
          display: block;
          -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          line-height: 1.428571429;
        }

        .common-footer-pc__nestedIcon--2xTQ4 {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 10px;
          height: 2px;
          width: 4px;
          margin: auto;
          background-color: rgba(0, 0, 0, .6);
        }

        .common-footer-pc__arrow--3eiqM {
          position: absolute;
          top: 0;
          right: 19px;
          bottom: 0;
          font-size: 18px;
          height: 18px;
          line-height: 18px;
          margin: auto;
          opacity: 0.8;
        }

        .common-footer-pc__price--28bRk {

          font-size: 10px;
          font-weight: bold;
          text-align: right;
        }

        .common-footer-pc__copyright--ALqZK {

          font-size: 10px;
          font-weight: bold;
          text-align: right;
          line-height: 1.428571429;
          letter-spacing: 1.5px;
          margin-top: 16px;
        }

      </style>
    )
  }
}}

