---
const  { title } = Astro.props;
const titleList = title.split('｜');
const { showTitle, pageCategory } = ((titleList) => {
  if (titleList.length <= 2) {
    return {
      showTitle: titleList[0],
      pageCategory: '',
    }
  }
  return {
    showTitle: titleList.at(-2),
    pageCategory: titleList.at(-3),
  }
})(titleList);
---
{ () => {
  if (import.meta.env.MODE === 'production') {
    return (
      <div id="superbanner-mobile" class="superbanner-mobile sp"></div>
      <div id="common-header"></div>
      <div id="superbanner-desktop" class="pc"></div>
    )
  } else {
    return (
      <div class="common-header-mobile">
        <div id="superbanner-mobile" class="superbanner-mobile sp"><div class="banner-mobile"></div>
      </div>

      <div class="common-header-sp__appBar--10DH3">
        <div class="common-header-sp__textContainer--19S2_">
          <h1 class="common-header-sp__title--1cjUW">{showTitle}</h1>
          {pageCategory && <p class="common-header-sp__subtitle--1Fewq">{pageCategory}</p>}
        </div>
        <a href="/sphone/" class="common-header-sp__logoContainer--9IK84">
        <svg x="0px" y="0px" width="36px" height="36px" viewBox="0 0 36 36" class="common-header-sp__logo--1S-sz"><path d="M3.122 30.853v.922H2.23v2.508c0 .197.048.336.13.397.09.077.202.112.342.11.083 0 .17-.008.257-.013.084-.004.15-.01.19-.02v1.18c-.104.02-.245.026-.428.036-.185.02-.362.026-.53.027-.42-.004-.738-.08-.948-.233-.21-.15-.352-.345-.42-.578-.068-.233-.1-.48-.094-.732v-2.683H0v-.922h.73v-1.485h1.498v1.485h.894zM5.806 35.86l-1.728-5.11h1.606l.883 3.618h.018l.885-3.617h1.595l-1.75 5.11M15.272 33.714v-.353l-1.006.292c-.198.048-.364.12-.502.21-.14.1-.214.248-.222.447.007.204.08.35.214.437.136.096.3.14.488.14.3 0 .543-.098.733-.294.19-.196.29-.488.295-.88zm1.442-1.63v2.696c0 .18.004.366.02.552.018.184.055.358.113.52h-1.383c-.055-.178-.086-.355-.097-.526h-.02c-.084.127-.217.246-.39.348-.17.102-.356.177-.562.226-.205.06-.4.09-.584.09-.5-.012-.907-.136-1.223-.396-.314-.26-.474-.635-.486-1.125.01-.607.242-1.045.7-1.32.458-.283 1.102-.475 1.927-.58l.546-.075v-.42c-.003-.19-.073-.33-.204-.416-.132-.092-.302-.133-.507-.133-.238-.002-.422.044-.547.15-.123.104-.205.282-.24.534h-1.443c.03-.477.166-.84.415-1.068.246-.23.528-.376.845-.445.323-.07.604-.1.844-.096.704-.007 1.26.098 1.658.315.4.207.606.6.62 1.168zM22.24 31.358l-.927.9c-.156-.18-.372-.31-.64-.406-.274-.092-.524-.142-.772-.144-.19.002-.347.035-.462.104-.115.067-.18.16-.182.293.01.166.112.295.315.37.196.075.452.13.747.185.298.047.598.117.894.215.302.088.553.234.76.43.2.204.305.494.313.87-.008.447-.125.8-.348 1.074-.225.263-.516.456-.87.57-.347.116-.71.18-1.09.178-.54 0-1.005-.08-1.385-.248-.378-.163-.748-.417-1.113-.76l.93-.808c.23.226.472.402.728.523.256.132.55.193.89.195.09 0 .197-.006.323-.035.12-.02.237-.072.335-.145.1-.078.153-.19.156-.34-.006-.15-.11-.267-.312-.338-.208-.07-.453-.124-.75-.18-.302-.047-.6-.117-.9-.206-.296-.092-.547-.234-.75-.43-.202-.19-.305-.465-.315-.823.01-.434.12-.774.33-1.038.216-.26.485-.453.813-.568.324-.13.668-.182 1.02-.18.4.002.786.07 1.16.192.388.134.758.31 1.103.548zM26.206 33.714v-.353l-1.003.292c-.195.048-.367.12-.503.21-.136.1-.21.248-.225.447.015.204.087.35.215.437.14.096.3.14.487.14.302 0 .548-.098.736-.294.193-.196.29-.488.293-.88zm1.442-1.63v2.696c-.002.18.007.366.025.552.015.184.052.358.112.52h-1.387c-.054-.178-.087-.355-.093-.526h-.02c-.088.127-.22.246-.387.348-.174.102-.364.177-.573.226-.197.06-.392.09-.574.09-.503-.012-.91-.136-1.224-.396-.318-.26-.477-.635-.487-1.125.008-.607.236-1.045.693-1.32.463-.283 1.1-.475 1.926-.58l.545-.075v-.42c-.003-.19-.072-.33-.197-.416-.135-.092-.31-.133-.51-.133-.244-.002-.42.044-.547.15-.123.104-.202.282-.238.534h-1.44c.03-.477.162-.84.412-1.068.25-.23.528-.376.85-.445.312-.07.598-.1.843-.096.697-.007 1.248.098 1.652.315.4.207.61.6.618 1.168zM28.832 35.86v-6.833h1.496v2.203h.02c.156-.193.37-.348.634-.454.267-.107.522-.155.77-.155.534.004.94.15 1.202.444.267.283.403.686.402 1.205v3.59h-1.502V32.8c-.008-.387-.093-.646-.246-.777-.166-.138-.326-.203-.5-.198-.185-.007-.355.067-.52.236-.163.163-.246.48-.26.942v2.858h-1.496zM34.503 30.75H36v5.11h-1.497v-5.11zM36 30.177h-1.497v-1.148H36v1.148zM14.042 26.682l-7.034.032-2.794-5.483L25.23.036 32.263 0l2.834 5.614"></path></svg>
        </a>
        <div class="common-header-sp__gradientMask--1DiJb"></div>
      </div>
      </div>
      <style>
      .device-type-mobile .common-header-desktop { display: none; }
      .device-type-mobile .superbanner-desktop { display: none; }
      .superbanner-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .banner-mobile {
        width: 320px;
        height: 50px;
        background-color: #808080;
        margin: auto;
      }
      .common-header-sp__commonHeader--jXi8n * {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
      }
      .common-header-sp__appBar--10DH3 {
        position: relative;
        padding-right: 64px;
        // box-shadow: 0 3px 10px rgba(0, 0, 0, .12), 0 3px 10px rgba(0, 0, 0, .18);
        background-color: #fefefe;
        // border-bottom: solid 1px rgba(0, 0, 0, .1);
      }
      .common-header-sp__textContainer--19S2_ {
        overflow: hidden;
        position: relative;
        display: table-cell;
        vertical-align: middle;
        height: 64px;
        cursor: pointer;
        padding: 0 0 0 16px;
      }
      .common-header-sp__title--1cjUW {
        font-weight: bold;
        font-size: 16px;
        line-height: 1;
        letter-spacing: -1px;
        max-height: 2em;
        overflow: hidden;
        position: relative;
        -webkit-line-clamp: 2;
        margin: 0;
        padding: 0;
        color: rgba(0, 0, 0, .870588);
      }
      .common-header-sp__subtitle--1Fewq {
        font-size: 12px;
        margin: 0;
        padding: 4px 0 0 0;
        line-height: 12px;
        max-height: 20px;
        overflow: hidden;
        color: rgba(0, 0, 0, .870588);
      }
      .common-header-sp__logoContainer--9IK84:link,
        .common-header-sp__logoContainer--9IK84:visited,
        .common-header-sp__logoContainer--9IK84:active,
        .common-header-sp__logoContainer--9IK84:hover {
        min-height: 64px;
        min-width: 64px;
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        line-height: 0;
      }
      .common-header-sp__logo--1S-sz {
        padding: 0;
        margin: 14px;
        fill: #F0027F;
      }
      .common-header-sp__logo60th--1HgBt {
        padding: 0;
        margin: 15px 8px 15px 0;
      }
      .common-header-sp__logo65th--2nsQ0 {
        padding: 0;
        margin: 0;
      }
      .common-header-sp__gradientMask--1DiJb {
        position: absolute;
        width: 24px;
        height: 64px;
        top: 0;
        right: 64px;
        background-image: -webkit-gradient(linear, left top, right top, from(rgba(254, 254, 254, 0)), to(#fefefe));
        background-image: linear-gradient(to right, rgba(254, 254, 254, 0), #fefefe);
      }
      </style>

      <div class="common-header-desktop">
        <div id="common-header">
          <div data-reactroot="" class="common-header-pc-v2__commonHeader--koWP-">
            <div class="common-header-pc-v2__commonHeaderContainer--1HF2o">
              <div class="common-header-pc-v2__leftContainer--2lPO6">
                <a class="common-header-pc-v2__homeLink--1okSN" href="/">
                <svg xmlns="http://www.w3.org/2000/svg" width="238" height="40" viewBox="0 0 238 40" class="common-header-pc-v2__logo--2adim"><g fill-rule="evenodd" clip-rule="evenodd" fill="#F0027F"><path d="M53.828 16.49v3.942h-3.815v10.716c.012.842.201 1.425.574 1.734.375.308.854.457 1.439.444.367-.006.729-.021 1.098-.052.373-.026.653-.049.831-.073v5.048a46.554 46.554 0 01-4.107.249c-1.794-.024-3.143-.357-4.041-1.003-.904-.644-1.504-1.467-1.795-2.461a10.06 10.06 0 01-.405-3.104V20.432h-3.119V16.49h3.119v-6.323h6.406v6.323h3.815zM65.307 37.925l-7.392-21.846h6.856l3.779 15.439h.082l3.773-15.439h6.819l-7.47 21.846zM105.748 28.74v-1.522l-4.302 1.232c-.831.21-1.547.516-2.143.925-.596.412-.909 1.048-.935 1.912.026.854.326 1.48.906 1.88.585.396 1.279.591 2.083.585 1.278 0 2.324-.419 3.14-1.259.812-.837 1.23-2.088 1.251-3.753zm6.163-6.983v11.539a25.03 25.03 0 00.09 2.343c.065.791.226 1.529.489 2.218h-5.912a8.529 8.529 0 01-.417-2.262h-.078c-.375.578-.934 1.081-1.667 1.5a9.755 9.755 0 01-2.418.981c-.876.231-1.703.352-2.484.355-2.135-.014-3.882-.564-5.224-1.672-1.348-1.106-2.042-2.713-2.089-4.816.035-2.576 1.031-4.454 2.99-5.646 1.959-1.188 4.698-2.001 8.218-2.443l2.337-.328v-1.805c-.016-.817-.305-1.414-.867-1.786-.564-.375-1.286-.562-2.167-.557-1.017-.012-1.796.199-2.327.645-.533.44-.881 1.196-1.04 2.271h-6.16c.126-2.058.711-3.585 1.77-4.569 1.06-.982 2.261-1.621 3.622-1.905 1.369-.284 2.563-.414 3.601-.383 3.009-.042 5.368.4 7.086 1.315 1.715.921 2.594 2.587 2.647 5.005zM135.508 18.657l-3.939 3.856c-.683-.76-1.6-1.341-2.745-1.738-1.139-.399-2.239-.598-3.294-.601-.817 0-1.473.142-1.971.424-.507.286-.763.702-.776 1.258.035.726.485 1.249 1.342 1.567.864.328 1.933.592 3.214.804 1.269.213 2.549.51 3.821.896 1.276.393 2.354 1.015 3.21 1.874.863.853 1.308 2.091 1.348 3.699-.04 1.902-.532 3.428-1.499 4.569-.963 1.146-2.196 1.965-3.688 2.477-1.492.502-3.047.75-4.669.742-2.332.003-4.301-.343-5.925-1.047-1.618-.704-3.196-1.784-4.747-3.264l3.98-3.432c.969.949 1.998 1.693 3.096 2.232 1.093.545 2.357.818 3.798.828.38.013.837-.033 1.383-.132a3.512 3.512 0 001.444-.628c.417-.321.64-.803.665-1.444-.035-.658-.479-1.141-1.347-1.441-.859-.303-1.932-.563-3.205-.769a30.544 30.544 0 01-3.828-.9c-1.277-.385-2.344-.995-3.209-1.824-.861-.822-1.311-2.002-1.34-3.531.029-1.83.497-3.306 1.408-4.429.903-1.124 2.063-1.942 3.461-2.452a12.32 12.32 0 014.365-.758c1.688.007 3.346.289 4.978.841a19.778 19.778 0 014.669 2.323zM152.495 28.74v-1.522l-4.315 1.232c-.827.21-1.543.516-2.142.925-.598.412-.909 1.048-.938 1.912.028.854.334 1.48.91 1.88.582.396 1.28.591 2.092.585 1.273 0 2.319-.419 3.129-1.259.811-.837 1.233-2.088 1.264-3.753zm6.151-6.983v11.539c-.006.771.025 1.554.092 2.343.066.791.231 1.529.485 2.218h-5.912a9.113 9.113 0 01-.409-2.262h-.086c-.37.578-.928 1.081-1.661 1.5a9.746 9.746 0 01-2.419.981 9.862 9.862 0 01-2.483.355c-2.139-.014-3.875-.564-5.229-1.672-1.344-1.106-2.039-2.713-2.082-4.816.031-2.576 1.031-4.454 2.986-5.646 1.963-1.188 4.701-2.001 8.225-2.443l2.343-.328v-1.805c-.026-.817-.314-1.414-.876-1.786-.563-.375-1.292-.562-2.165-.557-1.017-.012-1.796.199-2.333.645-.535.44-.876 1.196-1.035 2.271h-6.158c.124-2.058.706-3.585 1.764-4.569 1.053-.982 2.267-1.621 3.628-1.905 1.36-.284 2.563-.414 3.602-.383 3.004-.042 5.362.4 7.081 1.315 1.712.921 2.592 2.587 2.642 5.005zM163.685 37.925V8.689h6.41v9.442h.081c.659-.841 1.563-1.493 2.707-1.942 1.136-.451 2.233-.68 3.282-.682 2.306.018 4.02.647 5.158 1.882 1.139 1.237 1.707 2.966 1.7 5.176v15.359h-6.4V24.822c-.053-1.646-.409-2.754-1.079-3.331-.671-.583-1.381-.852-2.124-.812-.788-.045-1.524.283-2.221.98-.69.698-1.061 2.04-1.104 4.027v12.238h-6.41zM187.938 16.079h6.413v21.846h-6.413V16.079zm6.414-2.463h-6.413V8.689h6.413v4.927z"></path></g><path fill-rule="evenodd" clip-rule="evenodd" fill="#F0027F" d="M14.771 38.741l-9.172 1.557-5.252-6.54L22.015 1.901 31.124.298l5.279 6.655z"></path><path fill="#B19400" d="M218.678 38.691c.365.262.813.364 1.226.361h3.779c.853 0 1.554-.42 1.921-.936.388-.518.518-1.068.59-1.453.066-.367.502-2.711.502-2.715a.041.041 0 00.001-.012c.119-.164.225-.34.306-.519.394-.863.443-1.795.448-2.539v-.003c-.012-.484-.149-1.017-.354-1.733-.205-.7-.489-1.521-.8-2.363a53.086 53.086 0 00-1.008-2.538 9.932 9.932 0 002.238-1.521c1.984-1.796 2.945-4.235 2.941-6.693a11.923 11.923 0 00-.097-1.533c.068 0 .14.009.207.009h.005c1.955 0 3.882-.858 5.142-2.51a6.366 6.366 0 001.299-3.867c0-2.029-.948-4.063-2.717-5.412a6.896 6.896 0 00-4.183-1.423c-1.957-.003-3.883.856-5.143 2.508a6.28 6.28 0 00-1.164 2.569c-1.55-.58-3.293-.873-5.143-.873-1.848 0-3.59.292-5.143.873a6.305 6.305 0 00-1.163-2.569c-1.262-1.652-3.187-2.511-5.144-2.508a6.894 6.894 0 00-4.181 1.423c-1.769 1.348-2.718 3.382-2.717 5.412a6.355 6.355 0 001.297 3.867c1.263 1.652 3.185 2.51 5.141 2.51h.006c.068 0 .137-.009.207-.009a11.748 11.748 0 00-.096 1.533c-.003 2.458.956 4.897 2.939 6.693a9.931 9.931 0 002.241 1.521c-.339.787-.69 1.672-1.011 2.538-.312.843-.59 1.663-.796 2.363-.206.717-.346 1.249-.357 1.733v.003c.009.744.057 1.676.449 2.539.08.179.186.354.305.519a.021.021 0 01.003.012c0 .004.436 2.348.502 2.715.073.385.202.936.589 1.453.369.516 1.067.936 1.921.936H217.446c.411.003.859-.1 1.227-.361h.005z"></path><path fill="#FFF" d="M225.712 30.083a19.63 19.63 0 00-.137-.493c-.388-1.32-1.111-3.243-1.749-4.731-.016.006-.035.009-.052.016a.718.718 0 01-.086.028c-1.445.479-3.112.742-4.999.742h-.014c-1.894.003-3.564-.263-5.012-.742-.028-.011-.058-.018-.089-.028-.017-.007-.033-.01-.05-.016-.64 1.488-1.36 3.411-1.749 4.731a9.354 9.354 0 00-.136.493h3.429c.207 0 .41.084.561.23.146.145.23.354.23.563 0 .54-.014 1.201-.168 1.86a5.62 5.62 0 01-.074.273h2.276a.79.79 0 011.56 0h2.277c-.227-.75-.24-1.517-.246-2.134a.81.81 0 01.232-.563.808.808 0 01.562-.23h3.434zM226.456 21.541a8.355 8.355 0 01-1.731 1.199c-.033.016-.067.036-.103.055-.193.1-.395.189-.604.279a.143.143 0 01-.042.019c-.024.012-.05.021-.075.033-.038.014-.075.035-.115.048l-.078.027c-.181.072-.365.135-.555.201-.64.209-1.339.373-2.103.482-.733.107-1.522.167-2.375.168a16.579 16.579 0 01-2.375-.168 12.532 12.532 0 01-2.106-.482c-.188-.066-.372-.129-.553-.201-.064-.021-.128-.049-.191-.075-.026-.012-.052-.021-.075-.033a9.616 9.616 0 01-.647-.298c-.036-.019-.068-.039-.104-.055a8.572 8.572 0 01-1.729-1.199c-1.636-1.486-2.414-3.461-2.417-5.513.003-.632.057-1.228.154-1.789.056-.313.123-.61.205-.9a7.79 7.79 0 012.506-3.902c.174-.145.357-.282.543-.413.292-.214.601-.404.93-.583.27-.147.55-.283.84-.407 1.454-.615 3.152-.942 5.021-.942 1.866 0 3.567.327 5.019.942.291.124.573.259.841.407.329.18.638.37.931.583a7.754 7.754 0 012.682 3.284c.144.327.266.67.367 1.031.08.29.149.587.204.9.099.561.154 1.157.155 1.789-.003 2.052-.783 4.024-2.42 5.513z"></path><path d="M233.338 3.981a5.299 5.299 0 00-3.213-1.095c-1.501.003-2.934.647-3.875 1.882a4.735 4.735 0 00-.933 2.282c.616.337 1.19.725 1.714 1.165 1.42 1.19 2.466 2.773 3.009 4.661.179.019.36.033.538.035 1.498-.005 2.935-.647 3.877-1.885a4.744 4.744 0 00.972-2.898c0-1.537-.717-3.101-2.089-4.147zM211.103 4.769c-.943-1.235-2.378-1.879-3.876-1.882a5.293 5.293 0 00-3.214 1.095c-1.371 1.046-2.089 2.61-2.089 4.147 0 1.029.314 2.04.973 2.898.94 1.238 2.375 1.88 3.876 1.883.179 0 .359-.014.538-.033.545-1.888 1.589-3.47 3.007-4.661.524-.44 1.101-.828 1.713-1.165a4.694 4.694 0 00-.928-2.282zM224.742 31.666h-1.645c.02.249.05.491.105.71l.001.009c.064.266.152.472.256.626a.936.936 0 00.238.265c.148.101.348.182.719.187a1.95 1.95 0 00.361-.043c.16-.036.282-.086.379-.152.037-.021.071-.054.108-.085.052-.049.1-.105.145-.171.054-.075.105-.154.152-.259.104-.217.18-.5.226-.8.015-.095.025-.188.036-.286h-1.081zM212.932 33.462c.372-.005.572-.086.722-.187a.99.99 0 00.242-.265c.044-.066.087-.141.124-.231.05-.115.09-.25.123-.395.052-.219.087-.462.108-.719H211.524a5.22 5.22 0 00.119.684c.074.277.178.494.301.66.049.07.103.132.161.18.03.028.058.058.086.076.098.066.217.116.373.152.103.024.22.04.368.045zM224.417 35.046c-.605 0-1.152-.155-1.585-.449h-3.366v2.221c0 .413.093.557.116.574.018.021.051.067.317.072h3.732c.44-.017.552-.122.707-.3.143-.188.244-.503.29-.786l.254-1.363a3.186 3.186 0 01-.452.031h-.013z"></path><path fill="#B19400" d="M218.908 28.21h.089l-.321.557-.323-.557h.091v-2.108h-3.615v2.108h.779l1.943 3.568h2.252l1.941-3.568h.777v-2.108h-3.613z"></path><path fill="#FFF" d="M219.672 26.867h2.09v.579h-.476l-1.94 3.567h-1.342l-1.936-3.567h-.475v-.579h2.088v.579h-.639l1.634 2.848 1.628-2.848h-.632z"></path><path d="M213.216 18.437c.631-.044.868-.52.895-1.095.024-.506.082-2.353.024-3.124-.062-.768-.484-.862-.851-.904-.363-.044-.661-.051-1.189-.02-.521.03-.778.358-.866.993-.077.565-.093 2.455-.09 2.982.001.528.186.968.609 1.061a4.74 4.74 0 001.468.107zM225.256 13.294c-.526-.031-.825-.024-1.19.02-.36.042-.789.136-.851.904-.058.771.001 2.618.028 3.124.025.575.258 1.05.893 1.095a4.782 4.782 0 001.468-.106c.424-.093.605-.533.607-1.061.004-.528-.012-2.417-.09-2.982-.087-.636-.346-.963-.865-.994z"></path><path fill="#E60012" d="M218.676 18.852s-.256-.078-.568-.237c-.489-.245-1.101-.684-1.101-1.325 0-.511.3-.884.845-.884.552 0 .824.485.824.485s.27-.485.82-.485c.545 0 .849.373.849.884 0 .642-.613 1.081-1.103 1.325-.311.159-.566.237-.566.237z"></path><path d="M221.568 19.511a.553.553 0 00-.779-.008l-.004.003c-.043.05-.375.291-.669.279-.041 0-.08-.006-.122-.01-.328-.06-.491-.279-.632-.643a2.415 2.415 0 01-.114-.518h-.006c-.312.159-.566.237-.566.237s-.256-.078-.568-.237h-.005c-.02.156-.054.342-.117.518-.138.363-.303.583-.629.643-.042.004-.081.01-.121.01a.988.988 0 01-.482-.145 1.736 1.736 0 01-.153-.105l-.037-.029-.002-.003a.551.551 0 10-.77.79c.048.031.561.576 1.445.596a1.78 1.78 0 001.441-.725 1.778 1.778 0 001.441.725c.881-.02 1.397-.565 1.442-.596a.556.556 0 00.007-.782zM212.946 35.046h-.015a3.58 3.58 0 01-.467-.031c.111.589.223 1.191.255 1.368.046.278.148.593.293.781.152.178.265.283.7.3h3.736c.268-.005.298-.052.317-.072.021-.018.116-.161.116-.574v-2.221h-3.366c-.429.291-.967.449-1.569.449z"></path></svg>
                </a>
                <div class="common-header-pc-v2__rightShadowContainer--1_X5d">
                  <div class="common-header-pc-v2__rightShadow--16r--"></div>
                </div>
              </div>
              <div class="common-header-pc-v2__centerContainer--Q_kod">
                <div class="common-header-pc-v2__centerContainerTop--2uqYJ"><a class="common-header-pc-v2__primaryLink--1HKBY"
                    href="/drama/">ドラマ・映画</a><a class="common-header-pc-v2__primaryLink--1HKBY" href="/variety/">バラエティ</a><a
                    class="common-header-pc-v2__primaryLink--1HKBY" href="/music-top/">音楽</a><a
                    class="common-header-pc-v2__primaryLink--1HKBY" href="/anime/">アニメ・ヒーロー</a><a
                    class="common-header-pc-v2__primaryLink--1HKBY" href="/news/">報道・情報・ドキュメンタリー</a><a
                    class="common-header-pc-v2__primaryLink--1HKBY" href="/sports/">スポーツ</a><a
                    class="common-header-pc-v2__primaryLink--1HKBY" href="/cooking/">料理・旅・暮らし</a></div>
              </div>
              <div class="common-header-pc-v2__rightContainer--3SI_O"><a href="/bangumi/"
                  class="common-header-pc-v2__iconLink--2TZeP"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" class="common-header-pc-v2__icon--3N2kR">
                    <path
                      d="M21.21 1.35h-3.87V.81c0-.45-.36-.81-.81-.81s-.81.36-.81.81v.54h-2.91V.81c0-.45-.36-.81-.81-.81-.45 0-.81.36-.81.81v.54H8.28V.81c0-.45-.36-.81-.81-.81-.45 0-.81.36-.81.81v.54H2.79c-.45 0-.81.36-.81.81v21.03c0 .45.36.81.81.81H21.2c.45 0 .81-.36.81-.81V2.16c0-.45-.36-.81-.8-.81zm-.81 21.03H3.6V2.97h3.06v.94c0 .45.36.81.81.81.45 0 .81-.36.81-.81v-.94h2.91v.94c0 .45.36.81.81.81.45 0 .81-.36.81-.81v-.94h2.91v.94c0 .45.36.81.81.81s.81-.36.81-.81v-.94h3.06v19.41z">
                    </path>
                    <path d="M17.19 8.4H6.81v1.62H17.2V8.4M17.19 12.93H6.81v1.62H17.2v-1.62zM17.19 17.46H6.81v1.62H17.2v-1.62z">
                    </path>
                  </svg>
                  <div class="common-header-pc-v2__iconText--2xF4p">番組表</div>
                </a><a href="/search/more/" class="common-header-pc-v2__iconLink--2TZeP"><svg xmlns="http://www.w3.org/2000/svg"
                    width="24" height="24" viewBox="0 0 24 24" class="common-header-pc-v2__icon--3N2kR">
                    <path
                      d="M22.55 24c-.37 0-.73-.15-.99-.42l-6.41-6.41c-4.23 3.1-10.18 2.19-13.28-2.05-3.1-4.23-2.19-10.18 2.05-13.28C7.7-.94 12.95-.53 16.27 2.8a9.446 9.446 0 012.78 6.73c0 2.04-.67 4.03-1.9 5.66l6.41 6.42c.55.54.56 1.42.02 1.97l-.02.02c-.27.27-.63.41-1.01.4zM9.49 2.8a6.75 6.75 0 00-6.75 6.73 6.75 6.75 0 006.73 6.75 6.75 6.75 0 006.75-6.73c0-1.78-.7-3.5-1.96-4.76-1.26-1.28-2.98-2-4.77-1.99z">
                    </path>
                  </svg>
                  <div class="common-header-pc-v2__iconText--2xF4p">検索</div>
                </a></div>
            </div>
            <div class="common-header-pc-v2__bottomShadowContainer--1j7YH">
              <div class="common-header-pc-v2__bottomShadow--ENAfF"></div>
            </div>
            <div
              style="margin-top: 15px; position: absolute; top: 96px; left: 525px; z-index: 9999; transform: scale3d(0, 0, 0); transform-origin: 0% 0%; opacity: 0; transition: 450ms cubic-bezier(0.23, 1, 0.32, 1);">
              <div class="notification-window__card--2-Pnm">
                <div class="notification-window__cardInner--7GdmN">
                  <div class="notification-window__textArea--3wJZ6"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      <div id="superbanner-desktop" class="superbanner-desktop"><div class="banner-desktop"></div></div>
      <style>
        .device-type-desktop .common-header-mobile { display: none; }
        .device-type-desktop .superbanner-mobile { display: none; }
        .superbanner-desktop {
          position: absolute;
          top: 0px;
          left: calc(50% - 364px);
          width: 728px;
          height: 90px;
          margin: 0px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .banner-desktop {
          width: 728px;
          height: 90px;
          background-color: #808080;
          margin: auto;
        }
        @font-face {
          font-family: 'Noto Sans Japanese';
          font-style: normal;
          font-weight: 400;
          // src: local('NotoSansCJKjp-Regular.otf'),
          //     local('NotoSansJP-Regular.otf'),
          //     url('/commons/1/fonts/NotoSansCJKjp-Regular.woff') format('woff'),
          //     url('/commons/1/fonts/NotoSansCJKjp-Regular.otf') format('opentype');
        }

        .common-header-pc-v2__commonHeader--koWP- {
          font-family: Noto Sans Japanese, sans-serif;
          position: relative;
          background: #fff;
          padding-top: 90px;
        }

        .common-header-pc-v2__commonHeader--koWP- * {
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
        }

        .common-header-pc-v2__commonHeaderContainer--1HF2o {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          min-width: 1072px;
          width: 1072px;
          margin: auto;
        }

        .common-header-pc-v2__leftContainer--2lPO6 {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-flex: 0;
              -ms-flex: 0 0 198px;
                  flex: 0 0 198px;
          height: 80px;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          position: relative;
        }

        .common-header-pc-v2__homeLink--1okSN {
          display: block;
          padding: 16px 8px 16px 0;
          font-size: 0px !important;
        }

        .common-header-pc-v2__logo--2adim {
          width: 160px;
          height: 32px;
        }

        .common-header-pc-v2__rightShadowContainer--1_X5d {
          width: 10px;
          height: 100%;
          margin: auto;
          overflow: hidden;
          position: absolute;
          top: 0;
          bottom: 0;
          right: -10px;
        }

        .common-header-pc-v2__rightShadow--16r-- {
          position: absolute;
          -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, .2);
                  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, .2);
          top: 16px;
          right: 10px;
          bottom: 16px;
          width: 10px;
          height: 48px;
          border-radius: 0 50% 50% 0 / 0 50% 50% 0;
        }

        .common-header-pc-v2__centerContainer--Q_kod {
          -webkit-box-flex: 1;
              -ms-flex: 1 1 auto;
                  flex: 1 1 auto;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          height: 80px;
          overflow: hidden;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
        }

        .common-header-pc-v2__centerContainerTop--2uqYJ {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          width: 720px;
        }

        .common-header-pc-v2__centerContainerBottom--3HiEz {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          width: 720px;
        }

        .common-header-pc-v2__primaryLink--1HKBY {
          font-family: Noto Sans JP, Noto Sans Japanese, sans-serif;
          color: #000 !important;
          font-size: 13px !important;
          text-decoration: none !important;
          line-height: 0 !important;
          font-weight: 500 !important;
          padding: 16px 8px;
          -webkit-transition-property: color, background-color;
          transition-property: color, background-color;
          -webkit-transition-duration: 450ms;
                  transition-duration: 450ms;
          -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
                  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
          -webkit-transition-delay: 0ms;
                  transition-delay: 0ms;
          letter-spacing: -0.1em;
        }

        .common-header-pc-v2__primaryLink--1HKBY:hover {
          color: #fff !important;
          background-color: rgba(0, 160, 198, .6);
        }

        .common-header-pc-v2__rightContainer--3SI_O {
          -webkit-box-flex: 0;
              -ms-flex: 0 0 112px;
                  flex: 0 0 112px;
          height: 80px;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
        }

        .common-header-pc-v2__iconLink--2TZeP {
          min-width: 52px;
          color: #00a0c6 !important;
          text-decoration: none !important;
          line-height: 1 !important;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          padding: 8px;
          -webkit-transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        }

        .common-header-pc-v2__iconLink--2TZeP:hover {
          background-color: #00a0c6;
          color: #fff !important;
        }

        .common-header-pc-v2__icon--3N2kR {
          width: 24px;
          height: 24px;
          fill: currentColor;
          -webkit-transition: fill 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: fill 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        }

        .common-header-pc-v2__iconText--2xF4p {
          font-family: Noto Sans JP, Noto Sans Japanese, sans-serif;
          margin-top: 4px;
          font-size: 12px !important;
          font-weight: 500 !important;
          -webkit-transition: color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        }

        .common-header-pc-v2__bottomShadowContainer--1j7YH {
          width: 100%;
          height: 10px;
          margin: auto;
          overflow: hidden;
          position: absolute;
          bottom: -10px;
          left: 0;
          right: 0;
        }

        .common-header-pc-v2__bottomShadow--ENAfF {
          position: absolute;
          -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .15);
                  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .15);
          left: 0;
          right: 0;
          bottom: 10px;
          width: 100%;
          height: 10px;
          border-radius: 0 0 50% 50% / 0 0 50% 50%;
}
      </style>
    )
  }
}}

