---
import '@styles/hero-aside.css';
import { directory, calendarScriptName } from '@settings';
import NextStory from '@components/NextStory.astro';
import CalendarButton from '@components/CalendarButton.astro';
---

<div class="hero__aside">
  <NextStory html={`/${directory}/story/parts/top-story-next.html`} onlyUse="desktop" />
  <CalendarButton html={`/${directory}/story/parts/calendar-btn.html`} name={calendarScriptName} onlyUse="desktop" />
</div>
