---
export const partial = true;
---
<div class="ticker__slide">
  1. 新着情報のテキストが入ります。
</div>

<div class="ticker__slide">
  2. <a class="external-link" href="#">新着情報のテキストが入ります。こちらの文章はダミーです。</a>
</div>

<div class="ticker__slide">
  3. 新着情報のテキストが入ります。こちらの文章はダミーです。3. 新着情報のテキストが入ります。こちらの文章はダミーです。3. 新着情報のテキストが入ります。こちらの文章はダミーです。3. 新着情報のテキストが入ります。こちらの文章はダミーです。3. 新着情報のテキストが入ります。こちらの文章はダミーです。
</div>
