<!--　▼data-youtube-playlist-idにplaylistのIDを指定する -->
<div data-youtube-playlist-id="PLKeSkVQhqoOrrDx41RKpvSJtElZk0arIh" class="youtube-playlist-wrapper0 youtube-playlist-wrapper sp-swiper youtube-layout-thumb">
  <div class="opacity-wrap" style="opacity: 0;">
    <div class="player-wrap" id="player-wrap">
      <div id="player-0" class="player"></div>
    </div>
    <div class="swiper-wholl-playlist thumb-playlist-wrap">
      <div class="swiper-wrap-playlist">
        <div class="swiper-container swiper-playlist">
          <ul class="swiper-wrapper"></ul>
        </div>
      </div>
      <div class="swiper-arrow swiper-button-next hide"></div>
      <div class="swiper-arrow swiper-button-prev hide"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <span class="css-loading"></span>
</div>