---
import { imageProtection } from '@settings';
export const partial = true;

// If the latest episode is ep.5,
// const numberOfEpisodes = 5;
const numberOfEpisodes = 1;
---
{[...Array(numberOfEpisodes)].map((_, i) => (
  <a class="backnumber__item" href={`../000${i+1}/`}>
    <img class:list={[imageProtection && 'protect']} src={`../000${i+1}/img/01.jpg`} alt="">
    <div>第{i+1}話</div>
  </a>
)).reverse()}
