---
import Button from '@components/Button.astro';
---

<div class="card__story">
  <!-- Youtubeパターン -->
  <iframe
    title="YouTube"
    data-src="https://www.youtube.com/embed/djB-lW-WeLs?rel=0&showinfo=0&wmode=transparent"
    frameborder="0"
    allowfullscreen></iframe>
  <!-- 静止画パターン -->
  <!-- <img src="story/0001/img/01.jpg" alt=""> -->
  <div class="card__story__date">0000年00月00日（土）よる00:00〜</div>
  <h1 class="card__story__title">第1話「タイトルが入ります。」</h1>
  <p class="card__story__summary">
    今週の『極上！旅のススメ』は、江戸の頃より大人気だったお伊勢参り。その伊勢神宮へと向かう旧道“伊勢参宮街道”を巡ります！そこに残るグルメ、伝統工芸、観光名所さらには驚きの最新グルメもたっぷりとご紹介！そして伊勢神宮では外宮から内宮へ、神宮司庁さんの案内のもと正しい参拝方法をしっかりとお伝えします。
  </p>
  <Button href="news/" class="button__primary center__pos opac">詳しくはこちら</Button>
</div>
