---
import { directory, imageProtection } from '@settings';
import Button from '@components/Button.astro';
export const partial = true;
---
<div class="next-story">
  <h2 class="h2-ttl">次回予告<span>next</span></h2>

  <div class="contents-box">
    <div class="cap-box loading-box">
      <a class="opac video-thumb" data-action="click" data-label="modal" href="#modal">
        <div class="play"><img src="common-img/play.png" alt=""></div>
        <div class="cap"><img class:list={[imageProtection && 'protect']} src="story/0001/img/01.jpg" alt=""></div>
      </a>
    </div>
    <div class="txt-box">
      <span class="detail">2XX年M月dd日（水）よる9時～</span>
    </div>
  </div>

  <div class="modal">
    <a id="modal" class="modal__background" href="#modal-close"></a>
    <div class="modal__container">
      <svg class="modal__close__button" height="24px" viewBox="0 -960 960 960" width="24px" fill="#fff"><path d="m251.85-220.77-30.77-31.08L448.92-480 221.08-708.15l30.77-31.08L480-511.08l228.15-228.15 30.77 31.08L511.08-480l227.84 228.15-30.77 31.08L480-448.92 251.85-220.77Z"/></svg>

      <!-- Please be sure to include 'enablejsapi=1' in the URL. -->
      <iframe title="YouTube" data-src="https://www.youtube.com/embed/4Ist5-XdT20?rel=0&showinfo=0&autoplay=1&wmode=transparent&enablejsapi=1" frameborder="0" allowfullscreen="" allow="autoplay"></iframe>

      <Button class="primary__button center__pos no__icon opac" href="story/">ストーリーはこちら</Button>
    </div>
  </div>

</div>
